<div class="row" >
		<div class="col-lg-12" align="center">
		<h3>Breakup for Employee</h3>
		<span class="xsmall light">For Employee : <b><%= User.find(@user_id).full_name%></b></span>
		
</div><br/>
