<p><strong>Cheque number:</strong> <%= @receipt_voucher.payment_detail.account_number %></p>
<p><strong>Cheque date:</strong> <%= @receipt_voucher.payment_detail.payment_date %></p>
<p><strong>Bank name:</strong> <%= @receipt_voucher.payment_detail.bank_name %></p>
<p><strong>Branch:</strong> <%= @receipt_voucher.payment_detail.branch %></p>