<p><strong>Transaction Date:</strong> <%= @receipt_voucher.payment_detail.payment_date %> </p>
<p><strong>Bank name:</strong> <%= @receipt_voucher.payment_detail.bank_name %> </p>
<p><strong>Transaction Reference:</strong> <%= @receipt_voucher.payment_detail.transaction_reference%> </p>