<div class="form-group">
  <label class="col-lg-4 control-label-required">First Name</label>
  <div class="col-lg-6">
    <%= text_field_tag "first_name", nil, :class=>"form-control", :style=>"width:100%" %>
  </div>
</div>
<div class="form-group">
  <label class="col-lg-4 control-label-required">Last Name</label>
  <div class="col-lg-6">
    <%= text_field_tag "last_name", nil, :class=>"form-control", :style=>"width:100%" %>
  </div>
</div>
<div class="form-group">
  <div class="col-lg-9 col-lg-offset-3 actions m-t">
    <button class="btn btn-success btn-sm btn-next" data-last="Finish" data-wizard="next" data-target="#form-wizard" type="button">Get Started</button>
  </div>
</div>
