<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h2> Hi <%= @current_user.first_name%>!</h2>
        <h4>We would like to know a bit about your business.</h4>
      </div>
    </div>
  <div class="row">
  <!-- First section -->
    <div class="col-lg-6 col-lg-offset-3">
      <section class="panel">
        <div class="wizard clearfix" id="form-wizard">
          <ul class="steps">
            <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Company Information</li>
          </ul>
        </div>
      <!-- Step one starts -->
        <div class="row">
          <div class="col-lg-12">
            <%= render :partial=>"shared/flash_msg"%>
            <div class="step-content">
              <%= form_tag '/dashboard/final_setup_update', :class=>'form-horizontal panel-body' do %>
                <div class="step-pane active" id="step1">
                  <%= render :partial=>"final_company_information" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>
    </div><!-- First section ends-->
  </div><!-- first row ends -->
  </section>
</section>
