        <div id="tab1">
          <ul id="tabnav">
            <li ><%= link_to "Received", messages_path %></li>
            <li ><%= link_to "Sent", messages_sent_path %></li>
          </ul>
        </div>

