           <h3>Notes</h3>
		   <p><a href="/notes">All</a></p>
           <p> <a href="#">Starred</a></p>
           <p><a href="#">Shared</a></p>
           <p> <a href="/notes/deleted_notes">Deleted</a></p>