 <!-- Page title -->
  <%= render "shared/page_title"%>
<!-- End of Page title -->


<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
       <!-- Left column/section -->
       <section class="column width6 first">
          <%#<p>Click on the Date to view detail.</p>%>
  
          <div id="tabs-all">
             <div class="colgroup">
                <div class="width3 column first"> </div>
                    <div class="content-box" >
                         <header>
                              <h3>Edit Payhead Type</h3>
                         </header>
                         <section>
                             <%= render 'form' %>
                        </section>
                      </div>
                    </div>
             <div class="clearfix"></div>
         </div>
       </section>
      <!-- End of Left column/section -->
      </div>
    </div>  