<div class="row">
		<div class="col-lg-8">
		<b><%= @page_name%></b>
		<br />
		<span class="xxsmall light">
     <%= render :partial => "shared/duration" %>
    </span>          
	</div>
		<div class="col-lg-4" align="right">
		<span class="xsmall light">Voucher Type : </span>
		<br />
		<b><%= (params[:voucher_type]) %></b>
	</div>
	
</div>
