<tr id="shipping_row_link" valign="top">
   <td valign="top" colspan="7">
<%= link_to '+ Add other charge', {:action => 'add_shipping_row',:shipping_index => shipping_index}, :class =>'btn btn-white btn-sm', :id =>"shipping_row_link", :remote => true %>
   </td>
</tr>
