 <!-- Page title -->
  <%= render "shared/page_title"%>
<!-- End of Page title -->

<!-- Page content -->
 <div id="page">
   <!-- Wrapper -->
    <div class="wrapper">
      <!-- Left column/section -->
      <section  class="column width6 first"></br>
      	<div class="highlight">
           <%= render 'form' %><br />
        </div><br />
      </section>
     <!-- End of Left column/section -->
    
     <!-- Right column/section -->
     <aside class="column width2" ></br>
      <a href="/master_objectives" class="btn btn-special btn-green btn-green-index">&nbsp; View master objectives </a>
      <div id="rightmenu">
        <dl class="first">
          <dt><img width="16" height="16" alt="" SRC="/images/help.png"></dt>
         <dd><%= link_to 'Help', "#", :class=>"nyroModal" %></dd>
          <dd class="last">If you are a new user, you should read "Getting started"</dd>
        </dl>
      </div><br />
    </aside>
    <!-- End of Right column/section -->
   </div>
</div>
