<div class="row">
	<div class="col-lg-8">
		<% if !params[:branch_id].blank? %>
    <%= display_branch(@branch_id) %>
    <% end %><br />
		<span class="xxsmall light">
      As on date: <%= Time.zone.now.to_date %>
    </span>
	</div>
</div>
