<tr id="other_charge_row_link" valign="top">
   <td valign="top" colspan="7">
    <%= link_to "+ Add Other Charge",{:action => 'add_other_charge_row', :other_charge_index => other_charge_index}, :class => 'btn btn-sm btn-white',:remote => true, :id=>"other_charge_row_link" %> 
   </td>
</tr>
