<div id="jData">
<script>
  $(document).ready(function(){

	cal();
	$('table#purchase_order_line_items input:text').live('keyup', function(e){
		cal();
                e.preventDefault();
	});

	$("table#purchase_order_line_items select#purchase_tax_item").live('change', function(e){
		cal();
    e.preventDefault();
	});
	$("table#purchase_order_line_items select#other_charge_dropdown").live('change', function(e){
		cal();
		e.preventDefault();
	});

	$("table#purchase_order_line_items .pur_line #item-td select").live('change', function(){
	  var index = $(this).attr('data-index');
	  var product_id = $(this).val();
	  $.ajax({
	    type:'GET',
	    data: {index: index, product_id: product_id},
	    url: "/purchase_orders/desc_cost"
	  });
	});

	$("table#purchase_order_line_items .pur_line #tax-td select").live('change', function(){
		cal();
    e.preventDefault();
	});

	$('table#purchase_order_line_items span#total').text(parseFloat($('input[name=total]').val()).toFixed(2));
	$('table#purchase_order_line_items span#tax-amount').text(parseFloat($('input[name=total_tax]').val()).toFixed(2));
  });

  function cal(){
  	$("tr#auto-added-row").remove();
	var auto_calculate = new Object();
	var tax_rate = new Object();
	'<% @tax_accounts.each do |tax| %>'
		auto_calculate['<%= tax.id %>'] = '<%= tax.accountable.auto_calculate_tax %>'
		tax_rate['<%= tax.id %>'] = '<%= tax.accountable.tax_rate %>'
	'<% end %>'
	var i = 0;
	var total = 0;
	var total_tax = 0;
	var total_discount = 0;
	var order_total = 0;
	$('table#purchase_order_line_items tbody tr').each(function(){
		var qut = 0;
		var unitCost = 0;
		var amount = 0;
		var other_charge_amount = 0;
		if (($('table#purchase_order_line_items tbody tr:eq(' + i + ')').is(":visible")) &&($('table#purchase_order_line_items tbody tr:eq(' + i + ')').attr('class') == 'pur_line') && $('table#purchase_order_line_items tbody tr:eq(' + i + ') #quantity').val() && $('table#purchase_order_line_items tbody tr:eq(' + i + ') #unit_cost').val()) {
			var qut = $('table#purchase_order_line_items tbody tr:eq(' + i + ')  #quantity').val();
			var unitCost = $('table#purchase_order_line_items tbody tr:eq(' + i + ') #unit_cost').val();
			//$('span#discount').text(x.toFixed(2));

			amount = (qut * unitCost);
			order_total += amount;
			var dis_amt=0;
			if ($('table#purchase_order_line_items tbody tr:eq(' + i + ') #discount').val()) {
				dis_amt = parseFloat($('table#purchase_order_line_items tbody tr:eq(' + i + ') #discount').val());
				if(dis_amt > 100){
				  alert("Discount should be less than 100%.");
				  $('table#purchase_order_line_items tbody tr:eq(' + i + ') #discount').val('');
				}else{
				  var discount = ( dis_amt / 100);
				  x = (qut * unitCost) * discount;
				}
			amount = amount - x;
			total_discount += x;
			}
			// calculatin for tax
			for (var taxIndex = 0; taxIndex < 2; taxIndex++) {
				data = $('table#purchase_order_line_items tbody tr:eq(' + i + ') #tax-td select:eq('+taxIndex+') option:selected').attr('data-linked');
				// console.log(data)
				if(data){
					if(taxIndex==1){
						$("#tax-"+ i +"-1").show();
						$("table#purchase_order_line_items tbody tr:eq(" + i + ") #tax-td a#add-tax").remove();
					}
					var parent_tax_amount=0
					var base_amount = 0
					$.each($.parseJSON(data), function(index,	object){
				    // console.log(object["name"]);
				    var tax_rate = parseFloat(object["rate"]);
				    var tax_name = object["name"];
				    var class_name = object["class_name"];
				    var calculate_on_percent= parseFloat(object["calculate_on_percent"]);
				    var calculation_method=object["calculation_method"]
				    var tax_amount = 0
				    if(object["parent"]){
	    	    		base_amount=amount*(calculate_on_percent/100.0)
	    		    	if(calculation_method==4){
			                parent_tax_amount = base_amount*(tax_rate/100.0);
			              }else{
			                parent_tax_amount=tax_amount = base_amount*(tax_rate/100.0);
			              }
					    	// parent_tax_amount=tax_amount = amount*(tax_rate/100);
				    }else{
  			    	amount_to_calculate=parent_tax_amount
				    	if(calculation_method=="2"){
				    		amount_to_calculate=parent_tax_amount
				    		amount_to_calculate+=base_amount
				    	}else if(calculation_method=="3"){
				    		amount_to_calculate=base_amount
				    	}
				    	tax_amount = amount_to_calculate*(tax_rate/100);
				    	// tax_amount=parent_tax_amount*(tax_rate/100);
				    }

						if(tax_amount > 0){
							total_tax += tax_amount;
							// amount = amount + tax_amount
							if($("."+class_name+" td span.tx-amt").text()){
								var temp = parseFloat($("."+class_name+" td span.tx-amt").text());
								$("."+class_name+" td span.tx-amt").text((temp+tax_amount).toFixed(2));
							}else{
								$('table#purchase_order_line_items tr.row-link:last').after("<tr id='auto-added-row' class='"+class_name+" row-link'><td colspan='6' style='background-color:#fff;' align='right'>"+tax_name+"</td><td style='background-color:#fff;' align='right'><span class='tx-amt'>"+tax_amount.toFixed(2)+"</span></td><td style='background-color:#fff;'></td></tr>")
							}
						}
					});
				}
			};
			$('table#purchase_order_line_items tbody tr:eq(' + i + ') #total').val(amount.toFixed(2));
			$('table#purchase_order_line_items tbody tr:eq(' + i + ') #amount').text(amount.toFixed(2));
			total = total + amount;
		}
		else if (($('table#purchase_order_line_items tbody tr:eq(' + i + ')').is(":visible")) && $('table#purchase_order_line_items tbody tr:eq(' + i + ')').attr('class') == 'tx_line'){
			if (auto_calculate[$('table#purchase_order_line_items tbody tr:eq(' + i + ') select#purchase_tax_item').val()] == 'true'){
				tr = parseFloat(tax_rate[$('table#purchase_order_line_items tbody tr:eq(' + i + ') select#purchase_tax_item').val()]);
				tax = total / (100 / tr);
				total_tax += tax;
				$('table#purchase_order_line_items tbody tr:eq(' + i + ') #tax').val(tax.toFixed(2));
                $('table#purchase_order_line_items tbody tr:eq(' + i + ') #tax_amount').text(tax.toFixed(2));
			} else {

				$('table#purchase_order_line_items tbody tr:eq(' + i + ') #tax_amount').text("0.00");
			}
		}else if ($('table#purchase_order_line_items tbody tr:eq(' + i + ')').is(":visible") && ($('table#purchase_order_line_items tbody tr:eq(' + i + ')').attr('class') == 'other_charge_line') && ($('table#purchase_order_line_items tbody tr:eq(' + i + ') #other_charge_dropdown').val())
			&& $('table#purchase_order_line_items tbody tr:eq(' + i + ') #other_charge').val()){
			// alert($('table#purchase_order_line_items tbody tr:eq(' + i + ') #other_charge').val());
			other_charge_amount = parseFloat($('table#purchase_order_line_items tbody tr:eq(' + i + ') #other_charge').val());
			total = total + other_charge_amount;
		}else if(!$('table#purchase_order_line_items tbody tr:eq(' + i + ')').is(":visible")){
    } else {
			$('table#purchase_order_line_items tbody tr:eq(' + i + ') #total').val('');
		}
		i++;
	});
	total = total + total_tax;
	$('input[name=total]').val(total);
	$('input[name=total_tax]').val(total_tax);
	$('span#tax-amount').text(total_tax.toFixed(2));
	$('table#purchase_order_line_items span#total').text(total.toFixed(2));
	$('table#purchase_order_line_items span#discount').text(total_discount.toFixed(2));
	$('table#purchase_order_line_items span#order-total').text(order_total.toFixed(2));
	}

</script>
</div>
