<div id="tab1">
                <ul id="tabnav">
                    <li class="tab1">
                        <a href="/purchase_orders">All</a>
                    </li>
                    <li class="tab2">
                        <a href="/purchase_orders/open">Open</a>
                    </li>
                    <li class="tab3">
                        <a href="/purchase_orders/closed">Closed</a>
                    </li>
                    <!-- <li class="tab4">
                        <a href="/purchase_orders/draft">Draft</a>
                    </li> -->
                    
                </ul>
            </div>