<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-10">
        <h3><i class="icon-edit text"></i>New Purchase Order</h3>
      </div>
      <div class="col-lg-2 m-t-large" align="right">
      <%= link_to raw('<i class="icon-mail-reply"> </i>'), purchase_orders_path, :class => 'btn btn-default btn-lg', :title=>"Back" %>
        <!-- <a href="#" class="btn btn-default "><i class="icon-info"> </i> </a> -->
        <p></p>        
      </div>  
    </div>
    <%= render :partial=> "form" %>
  </section>
</section>