<tr id="tax_row_link" valign="top">
   <td valign="top" colspan="7">
		<%= link_to '+ Add tax row', {:action => 'add_tax_row', :tax_index => tax_index}, :class => 'btn btn-new-row', :remote => true, :id =>"tax_row_link" %>
   </td>
</tr>
