<tr id="row_link" valign="top" class='row-link'>
<td valign="top" colspan="8">
<%= link_to '+ Add new row', {:action => 'add_row', :index => index}, :class => 'btn btn-white btn-sm', :remote => true, :id =>"row_link" %>
</td>
</tr>
