<tr valign="top">
	<td style='background-color:#fff; border-bottom:none;' colspan='<%= line_item_column_count %>'>&nbsp;</td>
	<td class="text-right" style="background:none;"><%= shipping_line_item_details.account.name %></td>
  <td class="text-right" style="background:none;"><%= format_amount shipping_line_item_details.amount %></td>
</tr>