<div id="tab1">
    <ul id="tabnav">
        <li class="tab1">
            <a href="/invoices">All</a>
        </li>
        <li class="tab2">
            <a href="/invoices/open">Unpaid Invoices</a>
        </li>
        <li class="tab3">
            <a href="/invoices/closed">Paid Invoices</a>
        </li>
        <li class="tab4">
            <a href="/invoices/cash_invoice">Cash Invoices</a>
        </li>
        <li class ="tab5">
            <a href="/invoices/time_invoice">Time Invoices</a>
        </li> 
        <li class ="tab6">
            <a href="/invoices/draft">Draft</a>
        </li>  
        <li class ="tab7">
            <a href="/invoices/recursive_invoices">Recurring Invoices</a>
        </li>   
    </ul>
</div>