<button class="btn btn-success btn-lg dropdown-toggle" title="Add Payment" data-toggle="modal" data-target='#modal2'>
<span class="dropdown-label"><i class="icon-ok-circle"></i> Add Payment</span>  
</button> 
<%= render "paid_invoice_actions" %>
<button class="btn btn-white btn-lg dropdown-toggle" title="Settle Invoice" data-toggle="modal" data-target="#modal-settlement"><span class="dropdown-label"><i class="icon-adjust"></i></span></button>  
