  <section id="content">
    <section class="main padder">
      <div class="row">
        <div class="col-lg-8">
            <h2><i class="icon-edit text"></i>Invoice Number Setting</h2>
        </div>
        <div class="col-lg-4 m-t-large" align="right">
        <%= link_to raw('<i class="icon-mail-reply"> </i>Back'), settings_show_path, :class => 'btn btn-default btn-lg' %>
        <a href="#" class="btn btn-default btn-lg"><i class="icon-info"> </i> </a>
        </div>  
      </div>

      <%= render :partial=> "form" %>
      
    </section>
  </section>


