<div id='report_header'>
	<div class="header-left">
		<span class="large"><%= @page_name%></span>
		<br />
		<span class="xxsmall light">
    </div>
	<div class="header-right" style="text-align: right">
		<span class="xsmall light"> </span>
		<br />
		<span class="large"></span>
	</div>
</div>
