<div class="table-responsive row">
  <table id="today_demos_tbl" class="table table-striped m-b-none text-small" data-source="<%= admin_dashboard_index_url(:format => 'json',:tab_ref=> "todays_demo") %>">
    <thead>
      <%= render :partial=> "admin/dashboard/header"%>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
