<tr id="row_link1" valign="top">
<td valign="top" colspan="8">
<%= link_to '+ Add item row', {:action => 'add_activity', :index => index}, :class => 'btn btn-new-row', :remote => true, :id =>"row_link1" %>
</td>
</tr>
