<form action="mark_lost" method="post" class="m-b-none form-horizontal" data-remote='true'>
  <%= hidden_field_tag "id", @lead.id %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h4 class="modal-title" id="myModalLabel">Add Activity</h4>
      </div>
      <div class="modal-body" style="max-height:500px;">
        <div class="errorSection"></div>
        <div class='block'>
          <select name="reason_delete" class="form-control">
            <option value="">Select Reason</option>
            <option value="1">Not Interested</option>
            <option value="2">Lost To Competition</option>
            <option value="4">Feature Missing</option>
            <option value="5">Pricing Issue</option>
            <option value="6">Others</option>
          </select>
        </div>  
        <div class='block'>
          <textarea name="comment" class="form-control" placeholder="Notes"></textarea>
        </div>
        <div class="modal-footer">
          <div class='save-btn'></div>
          <button class="btnsave btn btn-sm btn-success" type='submit'  data-loading-text="Saving...">Mark as lost</button>
          <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>      
</form>