<% new_text = "Dear Sir,

It was pleasure interacting with you over phone. With reference to our discussion, I would like to brief you on ProfitBooks. 

ProfitBooks is an Online Accounting, Inventory Management & Payroll Application especially designed for Small & Medium Businesses. ProfitBooks is very easy to operate and does not require prior accounting knowledge and is trusted by over 1,000 users across India. 


Why ProfitBooks? 

-  Most of the times we depend heavily on our accountant to manage financial data of the company and we don’t really have a clear picture of the business until we learn to use complicated accounting applications like Tally. That’s where ProfitBooks steps in.
-  Send Professional looking Estimates & Invoices to your clients even when you are away from your office 
-  Multiple application for Invoicing, Accounting, Payroll and Inventory management increases duplication of data and scope for errors. ProfitBooks offers easy to use integrated platform for all important business activities. 
-  Many businesses use Excel or other manual application to record transactions. These activities does not give up to date overview of business. ProfitBooks enables all important reports with few clicks and enables strong decision making platform. 

Features of ProfitBooks

ProfitBooks is a web based office management application comprising of following key features:
-  Accounting (Invoicing, Estimates, Billing and more)
-  Inventory Management 
-  Payroll Management
-  Taxation and Financial Reporting
-  Multi user Access with 10 free users 
-  Documentation Management (with Dropbox integration)
-  Task Management and Inbuilt Messaging system
-  User access control with roles and rights


Advantages over other offline accounting software / Excel based workings
- Completely online so you have access to your data anytime, anywhere from any Internet enabled device like Laptop, Tablet or Smartphone. 
- Easy to understand, no special training required.
- Data is securely stored on cloud infrastructure preventing you from accidental loss due to PC viruses, crashes or theft.
- Affordable pricing starting from Rs.750 per month which is less than your monthly electricity bill, broadband bill and Telephone Expenses. 
- Quality support from our trained executives to solve all your queries. 

All these features come with a 256 bit encryption technology which is as equal as Bank Level Security to protect your important data.

ProfitBooks is a web based application hence it is accessible on any internet enabled device like your smart phone or tablet. ProfitBooks sets you free from complex accounting applications which are often stand-alone, expensive and require accounting knowledge. 

Please find enclosed a product brief and feel free to call back on our support no. +91 84 85 86 3000. You can also visit www.profitbooks.net to learn more about the features or access video tutorials on how to use ProfitBooks at www.youtube.com/profitbooks" %>
<div class="block" id = "template">
<%= label_tag :text, 'Text' , :class => "control-label" %><br/>
<%= text_area_tag  :text, new_text,:rows=>4, :class=>"bg-focus form-control"%>
</div>