<div class="table-responsive row">
  <table id = "not_interested" class="table table-striped b-t text-small" data-source="<%= admin_leads_url(:format => 'json', :tab_ref => "lost_leads") %>">
    <thead>
      <%= render :partial => "lead_header" %>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>