			<div class="table-responsive row">
              <table id = "might_buy" class="table table-striped b-t text-small" data-source="<%= admin_leads_url(:format => 'json', :tab_ref => "might_buy_leads") %>">
                <thead>
              <%= render :partial => "lead_header" %>
          </thead>
                <tbody>
                </tbody>
              </table>
            </div>