<div class="panel panel-info data-filter" id="filter">
  <div class="panel-heading"><h4 class="panel-title" >Schedule Demo Filter</h4></div>
    <table class="table table-striped m-b-none text-small" id="lead-filter">
      <tbody>
        <tr>
          <td><label>Name</label></td>
          <td id="demoname"></td>
          <td ><label>Mobile</label></td>
          <td id="demomobile"></td>
          <td><label>Email</label></td>
          <td id="demoemail"></td>
        </tr>
        <tr>
        </tr>
       
     </tbody>
    </table>
</div>  
<script type="text/javascript">
   $('#demoname').select2();
</script>

