<ul id="tabnav">
      <li class="tab1">
        <a href="/admin/leads">All</a>
      </li>
      <li class="tab2">
        <a href="/admin/leads/paid_leads">Paid</a>
      </li>
      <li class="tab3">
        <a href="/admin/leads/unpaid_leads">unpaid</a>
      </li>
      <li class="tab4">
        <a href="/admin/leads/todays_leads">Today's follow up</a>
      </li>
      <li class="tab5">
        <a href="/admin/leads/pending_leads">Pending Leads</a>
      </li>
      
     <li class="tab6">
        <a href="/admin/leads/deleted_leads">Deleted Leads</a>
      </li>
      
       <!-- <li class="tab7">
        <a href="/admin/leads/leads_closed">Expired</a>
      </li> -->
    </ul>