  $(".popup-error").remove();
<% if @channel.errors.any? %>
  $('.errorSection').after("<%= escape_javascript render('shared/form_error',{:object=>@channel})%>");
  $(".btnsave").remove();
  $(".save-btn").after(" <button  class='btnsave btn btn-sm btn-success' type='submit'  data-loading-text='Adding...''>Add</button>");
<% else %>
  $("div[id^='modal']").modal('hide');
  window.location.reload();
  // $(".btnsave").remove();
  $(".save-btn").after("<button class='btn btn-sm btn-success btnsave' type='submit'  data-loading-text='Saving...'>Save</button>");
<% end %>

