<% if @account.errors.any? %>
  <%= render :partial => "shared/popup_validation"%>
  $(".btnsave").remove();
  $(".save-btn").after("<button class='btn btn-sm btn-success btnsave' type='submit'  data-loading-text='Saving...'>Save</button>");
<% else %>
  var new_option = new Option("<%= @account.name%>", "<%= @account.id %>");
  new_option.selected=true;
  <% if params[:transaction_type] == 'paid_from' %>
    $("#payment_voucher_from_account_id").append($(new_option)).change();
  <% else %>
    $("#payment_voucher_to_account_id").append($(new_option)).change();
  <% end %>
  $("div[id^='modal']").modal('hide');
  $(".btnsave").remove();
  $(".save-btn").after("<button class='btn btn-sm btn-success btnsave' type='submit'  data-loading-text='Saving...'>Save</button>");
<% end %>