<tr valign="top">
  <td class="text-right" colspan="<%= gstr_advance_payment_line_count %>" style="background:none;"><strong><%= shipping_line_item_details.account.name %></strong></td>
  <td class="text-right" style="background:none;"><strong><%= number_with_precision shipping_line_item_details.amount, :precision=>2 %></strong></td>
</tr> 
