<div class="row">
		<div class="col-lg-12" align="center">
		<h3>Payment Advice</h3>
		<span class="xsmall light">For month : <b><%=@date.strftime("%B %Y")%></b></span>
		<br />
	</div>
</div>
