            <div class="table-responsive row">
              <table id = "expired_companies" class="table table-striped b-t text-small" data-source="<%= admin_companies_url(:format => 'json', :tab_ref => "expired_companies") %>">
                <thead>
              <%= render :partial => "header" %>
          </thead>
                <tbody>
                </tbody>
              </table>
            </div>
        