<div class="panel panel-info data-filter" id="filter">
  <div class="panel-heading"><h4 class="panel-title" >Company Filter</h4></div>
    <table class="table table-striped m-b-none text-small" id="company-filter">
      <tbody>
        <tr>
          <td><label>Comapny Name</label></td>
          <td id="companyname"></td>
          <!-- <td ><label>Plan</label></td>
          <td id="companyplan"></td> -->
          <td><label>Owner</label></td>
          <td id="companyowner"></td>
        </tr>
        <tr>
          <td><label>Contact</label></td>
          <td id="companycontact"></td>
          <td ><label>Email</label></td>
          <td id="companyemail"></td>
          <td></td>
          <td></td>
        </tr>
        <!-- <tr>
          <td><label>Registration Date</label></td>
          <td id="regdate" colspan="7"></td>
        </tr> -->
      </tbody>
    </table>
</div>  