            <div class="table-responsive row">
            <table id="missed_company" class="table table-striped m-b-none text-small" data-source="<%= admin_companies_url(:format => 'json',:tab_ref=> "missed_companies") %>">
              <thead>
                <%= render :partial=> "admin/companies/todays_company_header"%>
              </thead>
              <tbody>
              </tbody>
            </table>
            </div>
          