            <div class="table-responsive row">
              <table id = "td_comp" class="table table-striped b-t text-small" data-source="<%= admin_companies_url(:format => 'json', :tab_ref => "paid_never_contacted_companies") %>">
                <thead>
              <%= render :partial => "admin/companies/todays_company_header" %>
          </thead>
                <tbody>
                </tbody>
              </table>
            </div>
        