<div class="reset_password" <%= "style='display:none;'" if flash[:error].blank? %>>
 <%= form_tag(:action => :reset_user_password, :controller => "/admin/companies") do |f| %>
        <%= hidden_field_tag  "id" ,@company.id %>
          <table class="display stylized" id="company_table">
              <thead>
              </thead>
              <tbody>
              </tbody>
              <tfoot>
                    <tr>
                      <td colspan = "2">
                       <%= submit_tag "Resend welcome email", :class => "btn btn-info" %>&nbsp;
                      </td>
                    </tr>
              </tfoot>
          </table>
          <% end %>
</div>
