<ul id="tabnav">
      <li class="tab1">
        <a href="/admin/companies">All</a>
      </li>
      <li class="tab2">
        <a href="/admin/companies/this_week">This Week</a>
      </li>
      <li class="tab3">
        <a href="/admin/companies/this_month">This Month</a>
      </li>
      <li class="tab4">
        <a href="/admin/companies/this_year">This Year</a>
      </li>
      <li class="tab5">
        <a href="/admin/companies/paid_companies">Paid</a>
      </li>
      <li class="tab6">
        <a href="/admin/companies/expiring_this_week">Expiring this week</a>
      </li>
      <li class="tab7">
        <a href="/admin/companies/expiring_in_15_days">Expiring in 15 days</a>
      </li>
       <li class="tab8">
        <a href="/admin/companies/company_closed">Expired</a>
      </li>
    </ul>