            <div class="table-responsive row">
              <table id = "trial_todays_company" class="table table-striped b-t text-small" data-source="<%= admin_companies_url(:format => 'json', :tab_ref => "trial_todays_company") %>">
                <thead>
              <%= render :partial => "header" %>
          </thead>
                <tbody>
                  
                </tbody>
              </table>
            </div>
        