<section id="content">
    <section class="main padder">
          
  <div class="row">
    <div class="col-lg-7">
        <h2><i class="icon-bar-chart text"></i>Sales Cycle for paid</h2>
    </div>
       <div class="col-lg-5 m-t-large" align="right">
    <p></p>
    </div>
  </div>
   
   <div class="row"> 
    <div class="col-sm-6">
     <section class="panel">
      <header class="panel-heading">
       <strong>Sales Cycle for paid</strong>
      </header>
      <div class="panel-body">
       <% if @sales_cycle_for_paid.blank? %>
        <%= render :partial => "shared/no_record" %>
       <% else %>
       
         <% @sales_cycle_for_paid.each do |key,value| %>
        <div class="row">
        <div class="col-sm-6">
          <p><i class="icon-calendar"></i><strong> Paid in <%= key %> : <%= value %></strong></p>
        </div>
        </div>
         <% end %>
       <% end %>
      </div>
     </section>
    </div>
  </div>
    
</section>
</section>
