<!-- Page title -->
<div id="pagetitle">
   <div class="wrapper">
      <h1>Organisation Settings &rarr; <span>Job Title</span></h1>
      <!-- Quick search box -->
      <form action="" method="get">
          <input class="" type="text" id="q" name="q" />
      </form>
    </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
       <!-- Left column/section -->
       <section class="column width6 first">
          <%#<p>Click on the Date to view detail.</p>%>
  
          <div id="tabs-all">
             <div class="colgroup">
                <div class="width3 column first"> </div>
									<div class="content-box" >
									     <header>
									          <h3>Edit Your Job Title</h3>
									     </header>
									     <section>
									         <%= render 'form' %>
									    </section>
									  </div>
                 </div>
							 </div>
       </section>
      <!-- End of Left column/section -->	 