<tr>
   <td><%= link_to ProcessPayroll.get_month(process_payroll.month), process_payroll %></td>
   <td class = "ta-right"><%= process_payroll.status %></td>
   <td class = "ta-right"><%= link_to "View details", process_payroll, :class=> "btn"%></td>
</tr>
