<div id="container">
 <!-- Page title -->
  <%= render "shared/page_title"%>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
  <!-- Wrapper -->
  <div class="wrapper">
    <!-- Left column/section -->
    <section class="column width6 first"></br>
    	<div class="highlight">
	 <%= render :partial => "shared/flash_msg"%>
          <%= render 'form' %>
			</div><br />
    </section>
    <!-- End of Left column/section -->
     <!-- Right column/section -->
        <aside class="column width2"></br>
          <a href="/process_payrolls/month_view" class="btn btn-special btn-green btn-green-index"><img src = "/images/white_icon/ic_list.png" alt = "list" class = "icon"/> View payrolls</a>
        </aside>
       <!-- End of Right column/section -->
  </div>
  <!-- End of Wrapper -->
</div>
<!-- End of Page content -->

</div>
