<div class="btn-group">
  <%= link_to raw('<i class="icon-edit"> </i> Edit'), edit_invoice_return_path(@invoice_return), :class => 'btn btn-info btn-lg' %>
  <button class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span><i></i>
  </button>
  <ul class="dropdown-menu">
    <% if @invoice_return.allocation_enable? %>
    <li class="text-left"><%= link_to raw('<i class="icon-anchor"> </i>Allocate Amount'), "/credit_notes/allocate?id=#{@invoice_return.credit_note.id}" %></li>
    <% end %>
    <li class="text-left"><%= link_to raw('<i class="icon-trash"> </i>Delete this invoice'), invoice_return_path(@invoice_return), :method => "delete", :confirm => "Are you sure?" %></li>
  </ul>
</div>