<div class="col-lg-10" align="left">
  <h4>Showing all ITC Details</h4>
</div>
<div class="table-responsive">
  <div class="tab-content">
    <%= render :partial=> "shared/flash_msg"%>
    <div id='itc-summary-tab' class='tab-pane fade active in'>
      <div  class="table-responsive col-lg-12">
        <table   class="table table-striped m-b-none text-small" >
          <thead  align="centre">
            <tr>                    
              <th rowspan="2" colspan="2" style="text-align:center;">Eligibility</th>
              <th colspan="6" style="text-align:center;">ITC Availed</th>
              </tr>
              <tr>
                <th colspan="2" style="text-align:center;">IGST</th>
                <th colspan="2" style="text-align:center;">CGST</th>
                <th colspan="2" style="text-align:center;">SGST</th>
              </tr> 
              <tr>
                <th style="text-align:center;">No</th>
                <th style="text-align:center;">Date</th>
                <th style="text-align:center;">Earlier</th>
                <th style="text-align:center;">This Month</th>
                <th style="text-align:center;">Earlier</th>
                <th style="text-align:center;">This Month</th>
                <th style="text-align:center;">Earlier</th>
                <th style="text-align:center;">This Month</th>
              </tr>
              <tr>
                
              </tr>

          </thead>
          <tbody>
            <%  %>
          </tbody>
        </table>
      </div>
    </div>
  </div> 
</div>    
