<% if true %>
  $('.errorPlace').after("<%= escape_javascript render('shared/flash_msg')%>");
  $(".btnsave").remove();
  $(".save-btn").after("<button class='btn btn-sm btn-success btnsave' type='submit'  data-loading-text='Saving...'>Save</button>");
<% else %>
  $("div[id^='modal']").modal('hide');
  $(".btnsave").remove();
  $(".save-btn").after("<button class='btn btn-sm btn-success btnsave' type='submit'  data-loading-text='Saving...'>Save</button>");
<% end %>

