<!-- Page title -->
<%= render 'shared/page_title'%>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
       <!-- Left column/section -->
        <section class="column width6 first"></br>
        	 <div class="highlight">
              <%= render 'form' %>
            </div><br />
        </section>
		<!-- Right column/section -->
         <aside class="column width2"><br />
          <%= list_button_white "View Leave Types", leave_types_path %>
       <div id="chart_div"></div>
        </aside>
        <!-- End of Right column/section -->
		</div>
	</div>