<tr id="row_link_purchase" class='row-link-purchase' valign="top">
	<td valign="top" colspan="8">
		<%= link_to '+ Add new row', {:action => 'add_row', :index => index}, :class=> "btn btn-white btn-sm" , :remote => true, :id =>"row_link_purchase" %>
	</td>
</tr>