<tr id="warehouse-detail-row-link-<%=index%>">
	<td colspan='3'>
		<%= link_to "+ Add new row",{:action => :add_warehouse_detail_row, :index => index, :pwd_index=>pwd_index+1, :product_id=>params[:product_id]}, :class => "btn btn-white btn-sm", :remote => true %>
	</td>
</tr>