$(".popup-error").remove();
<% if @vendor.errors.any? %>
	$(".errorSection").after("<%= escape_javascript render('shared/popup_form_error', {:object => @vendor})%>")
<% else %>
	$("#from_account_auto_complete").val('<%= @vendor.name %>');
	$("div[id^='modal']").modal('hide');
<% end %>
$(".btnsave").remove();
$(".save-btn").after("<button class='btn btn-sm btn-success btnsave' type='submit'  data-loading-text='Saving...'>Save</button>");