  <!-- Header -->
      <!-- Top navigation -->
      <%= render :partial=> "shared/auditor_title"%>
      <!-- End of Top navigation -->
  <!-- nav -->
  <nav id="nav" class="nav-primary bg-green hidden-xs nav-vertical">
    
  </nav>
  <!-- / nav -->
  <!-- End of Header -->