<div class="black subP">
	<label class='control-label'>Bank account number</label>
	<%= text_field_tag 'bank[account_number]','', :maxlength => 16, :class => 'form-control' %>  
</div>
<div class="black subP">
	<label class='control-label'>Bank name</label>
	<%= text_field_tag 'bank[bank_name]','', :class => 'form-control' %> 
</div>
  
