<div class="block subP">
  <label class='control-label'>Interest bearing deposit</label>
    <input type="radio" checked="checked" name="deposit[interest_applicable]" value='1'>
    Yes
    <input type="radio" name="deposit[interest_applicable]" value='0'>
    No
</div>
<div class="block subP">
<label class='control-label'>Interest rate</label>
<%= text_field_tag 'deposit[interest_rate]','', :class=>'form-control' %> 
</div>
<div class="block subP">
<label class='control-label'>Compounding Type</label>

<%= select_tag 'deposit[compounding]',options_for_select([['Daily'],['Monthly'],['Quarterly'],['Yearly'],['Payout']]), :class=>'form-control' %> 

</div>

