<% if object.errors.present? %>
  <div id="error" class="alert alert-danger popup-error"><i class="icon-ban-circle icon-large"></i><strong>Uh-oh! You have <%= pluralize(object.errors.to_a.size, "error") %></strong>
    <ol>
      <% object.errors_full_messages.each do |msg| %>
        <li> <h6><%= msg %></h6></li>
      <% end %>
    </ol>
  </div>
<% end %>
