<% if @from_accounts.blank? && @to_accounts.blank?%>
	<br /><div class="box box-warning">
		Currently there are no from accounts and deposit to accounts.<a href="/accounts">Click to create one.</a>
	</div>
<% elsif @from_accounts.blank? %>
	<br /><div class="box box-warning">
		Currently there are no from accounts.<a href="/accounts">Click to create one.</a>
	</div>
<% elsif @to_accounts.blank? %>
	<br /><div class="box box-warning">
		Currently there are no deposit to accounts.<a href="/accounts">Click to create one.</a>
	</div>
<% end %>
