<aside class="sidebar bg-lighter sidebar-small">
      <div class="list-group list-normal m-b-none">
          <a href="/stock_wastage_register/index" class="list-group-item active">Stock Wastage Register</a>
          <a href="/low_stock/index" class="list-group-item">Low Stock Register</a>
          <a href="/warehouse_wise_stock/index" class="list-group-item">Warehouse Wise Stock</a>
          <a href="/product_wise_stock/index" class="list-group-item">Product Wise Stock</a>
      </div>
</aside>