<div class="block subP">
  <label class='control-label'>Loan account number</label>
  <%= text_field_tag 'loan[account_number]','', :maxlength => '16', :class=>'form-control' %>
</div>
<div class="block subP">
  <label class='control-label'>Bank name</label>
  <%= text_field_tag 'loan[bank_name]','', :class=>'form-control' %>
</div>
  

