<!-- Page title -->
<div id="pagetitle">
  <div class="wrapper">
    <h1><%= @menu %> &rarr; <span><%=@page_name%></span></h1>
    <!-- Quick search box
    <form action="" method="get">
      <input class="" type="text" id="q" name="q" />
    </form> -->
  </div>
</div>
<!-- End of Page title -->

