<div class="row">
  <div class="col-sm-12">
    <section class="panel">
      <div class="panel-body">
        <form class="form-horizontal" method="get">
          <div class='form-group'>
            <div class="btn-group col-lg-6" data-toggle="buttons">
              <label class="btn btn-sm btn-default <%= 'active' if @current_controller=='reimbursement_vouchers' && (params[:option].blank? || params[:option]=='multi_receipt') %>" id="optionMultiReceipt">
                <input type="radio" name="options" name='multi_receipt' id="optionMultiReceipt"> <i class="icon-ok icon-large text-active"></i>Against Invoice
              </label>
            </div>
          </div>
          <!--first row ends -->
        </form>
        <div class='new-receipt-form' style='<%= "display:none;" unless @current_controller=="reimbursement_vouchers" %>'>
          <%= render "reimbursement_vouchers/form" %>
        </div>
      </div>
    </section>
  </div>
</div>
