
<aside class="sidebar bg-lighter sidebar-small">
      <div class="list-group list-normal m-b-none">
        <a href="/bank_book/index" class="list-group-item active">Bank Book</a>
        <a href="/cash_book/index" class="list-group-item">Cash Book</a>
        <a href="/credit_note_register/index" class="list-group-item"> Credit Note Register</a>
        <a href="/debit_note_register/index" class="list-group-item">Debit Note Register</a>
        <a href="/journal_register/index" class="list-group-item">Journal Register</a>
        <a href="/bills_payable/index" class="list-group-item">Outstanding Payments</a>
        <a href="/bills_receivable/index" class="list-group-item">Outstanding Receipts</a>
        <a href="/purchase_register/index" class="list-group-item">Purchase Register</a>
        <a href="/sales_register/index" class="list-group-item"> Sales Register</a>
        <a href="/sundry_creditor/index" class="list-group-item">Sundry Creditor</a>
      </div>
    </aside>
