<!-- <table class ='footer' width="100%">
	<tr>
	<td width="50%"><span class="small"><%= @company.name  %></span></td>
	<td width="50%" align="right"><span class="xsmall light">Generated on : <%= Time.zone.now.to_date %></span></td>
	</tr>
</table> -->



<hr>
   <div class="col-lg-8">
		<%= @company.name %>
	</div>
	<div class="col-lg-4" align="right">
		<span class="xsmall light">Generated on : <%= Time.zone.now.to_date %></span>
	</div>

