<div id="sidebar">
                
								<ul id="n">
                  <li><a href = "/notes/new">Notepad&nbsp;&nbsp;&nbsp;</a></li>
                  <li><a href = "/contacts/new">Contacts</a></li>
								</ul>
</div>