<div class="box box-success">
       format.html { redirect_to(@user, :notice => 'User was successfully created.') }
       format.xml  { render :xml => @user, :status => :created, :location => @user }
</div>