<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-10">
          <h2><i class="icon-edit text"></i>Send Bulk Emails</h2>
      </div>
      <div class="col-lg-2 m-t-large" align="right">
      
      </div>
      <p></p>
    </div><br/>
    <%= render :partial=> "shared/flash_msg"%>
    <%= render :partial => "form"%>
  </section>
</section>
