<div id='dtls'>
<b><%= INR  (format_amount @plan.blank? ? (@upgradable_plans.first.price * 12) : (@plan.price * 12) ) %></b>  per year*
<ul>
	<li>Basic accounting</li>
	<li>Financial reports</li>
	<li>Messages, Notes, Tasks</li>
	<li>User access control</li>
	<li>Document management</li>
	<li>5 users</li>
	<li>Inventory management</li>
</ul>
</div>