<div  id='dtls'>
<b><%= format_currency( @plan.blank? ? (@company.plan.price * 12) : (@plan.price * 12) ) %></b> per year*
<ul>
	<li>Basic accounting</li>
	<li>Financial reports</li>
	<li>Messages, Notes, Tasks</li>
	<li>User access control</li>
	<li>Document management</li>
	<li>10 users</li>
	<li>Inventory management</li>
	<li>Payroll management</li>
</ul>
</div>