<footer>
      <div class="footer-logo">
        <p>
          <strong>ProfitBooks Solutions Pvt. Ltd.</strong><br/>
          Copyright &copy; 2013. All rights reserved.
        </p>
        <p>
         <iframe src="https://www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofitbooks&amp;width&amp;height=35&amp;colorscheme=light&amp;layout=button&amp;show_faces=false&amp;appId=288284458002361" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:20px; width: 80px;" allowTransparency="true">
         </iframe>
         <!-- Twitter Button -->
          <a href="https://twitter.com/profitbookslive" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-dnt="true">Follow @profitbookslive</a>
        <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
         </script> &nbsp;&nbsp;&nbsp;
         
          <a href="https://plus.google.com/+ProfitbooksNetwork" rel="publisher" target="_top" style="text-decoration:none;"> <img src="http://ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/></a>
        </p>
    </div>
        <div class="footer-column">
          <h6>Business Association</h6>
            <p>Get associated with us for any type of business development activity using <a href="/home/contact">this form.</a></p>
        </div>
        <div class="footer-column">
          <h6>Online Training</h6>            
            <p><a href="/webinars/new">Register yourself for a webinar</a> & we will notify you about the next session.</p>
        </div>
        <div class="footer-column">
          <h6>Resources</h6>
             <ul class="footer-list-link">
                <li><a href="/home/common_questions">Common Questions</a></li>
                <li><a href="/home/privacy_policy">Privacy</a></li>
                <li><a href="/home/terms_of_service">Terms</a></li>
               <!--  <li><a href="/home/sitemap">Sitemap</a></li> -->
            </ul>
        </div>
        <div class="clear"></div>
</footer>
