   <header>
      <!-- logo start here -->
       <div id="logo">
          <a href="/home/index"><%= image_tag 'profitbooks-logo.png',:alt=>"ProfitBooks - Online Accounting and Payroll Management Software",:class=>"retina" %>
          </a>
       </div>
        <!-- logo end here -->
        
        <!-- top information start here -->
        <div id="top-info">
         <a href="https://profitbookshq.com/signup/new?plan=Trial" class="simpleBTN green">Get Started For FREE</a> &nbsp;&nbsp;
         <a href="https://www.profitbookshq.com/login/index" class="simpleBTN white">Login</a>
        </div>
        <!-- top information end here -->
        
        <div id="mainmenu-wrapper">
          <!-- mainmenu start here -->
            <nav id="mainmenu">
             <ul id="menu">
                <li><a href="/home/accounting_software_features">Product Features</a></li>
                <li><a href="/home/pricing">Pricing &amp; Signup</a></li>
                <li><a href="/home/benefits_for_accountant_and_outsoursing_firms">Accountants</a></li>
                <li><a href="/home/contact">Support &amp; Contact</a></li>
             </ul>
            </nav>
            <!-- mainmenu end here -->
            
            <!-- top right start here -->
            <div id="top-socials">
                   Call us on +91 84 85 86 3000 
            </div>
            <!-- top right end here -->
        </div>
    </header>