<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="small business accounting software, free accounting, web based accounting, profitbooks, profit book, online accounting, accounting, payroll, cloud accounting, easy accounting, business accounting, financial accounting software, indian accounting, saas accounting, accounting application, accounting for startups, small business, best accounting application, tally, tally alternative, tally software, accounting software download, tax software, inventory software, payroll software, quickbooks alternative, xero alternative, bookkeeping software, accounting for small business, software for accounting " />
<meta name="description" content="ProfitBooks is an online accounting and payroll management software for small businesses. It helps you organise your office finances and keeps track of all activities related to your business. It also comes with productivity tools like task management, notepad, internal messaging system and document management (with Dropbox integration). Its best suited for accountants, startups, entrepreneurs and SMEs." />
<meta name="copyright" content="&copy; 2012 The Nextwave Technologies. All rights reserved." />
<meta name="country" content="India" />
<meta name="author" content="Profitbooks Team" />
<meta name="organization-Email" content="support@profitbooks.net" />
<meta name="language" content="English" />
<title>
  ProfitBooks.net - Online Accounting & Payroll Management Software for small business
</title>