<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>ProfitBooks.net - Online Accounting & Payroll Management Software for small business</title>

<!-- ////////////////////////////////// -->
<!-- //     Retina Bookmark Icon     // -->
<!-- ////////////////////////////////// -->
<link rel="apple-touch-icon-precomposed" href="/images/apple-icon.png"/>

<!-- ////////////////////////////////// -->
<!-- //      Stylesheets Files       // -->
<!-- ////////////////////////////////// -->
<%= render :partial =>"stylesheets"%>  
<!-- ////////////////////////////////// -->
<!-- //     Google Webfont Files     // -->
<!-- ////////////////////////////////// -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700"/>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400"/>

<!-- ////////////////////////////////// -->
<!-- //        Favicon Files         // -->
<!-- ////////////////////////////////// -->
<link rel="shortcut icon" href="/images/favicon.ico"/>

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="javascripts/jquery.easing-1.3.min.js"></script>
<script src="javascripts/tooltip.js"></script>
<script src="javascripts/superfish.js"></script>
<script src="javascripts/tinynav.min.js"></script>
<script src="javascripts/jquery.fancybox.js?v=2.0.6"></script>
<script src="javascripts/jquery.fancybox-media.js?v=1.0.3"></script>
<script src="javascripts/jquery.ui.totop.min.js"></script>
<script src="javascripts/ddaccordion.js"></script>
<script src="javascripts/jquery.twitter.js"></script>
<script src="javascripts/jflickrfeed.min.js"></script>
<script src="javascripts/faq-functions.js" ></script>
<script src="javascripts/theme-functions.js"></script>
<script src="javascripts/jquery.retina.js"></script>
<script>
$(document).ready(function() {
//Retina Image
$('img.retina').retina('@2x');
  
//Footer Equal Height
equalHeight($(".footer-column, .footer-logo"));
});

function equalHeight(group) {
  tallest = 0;
  group.each(function() {
    thisHeight = $(this).height();
    if(thisHeight > tallest) {
      tallest = thisHeight;
    }
  });
  group.height(tallest);
}
</script>

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>

<div id="main-wrapper">

  <!-- header start here -->
  <header>
      <!-- logo start here -->
      <div id="logo">
          <a href="/home/index"><img src="/images/logo.png" alt="ProfitBooks - Online Accounting and Payroll Management Software" class="retina"/></a>
          
        </div>
        <!-- logo end here -->
        
        <!-- top information start here -->
        <div id="top-info">
          <ul>
              <li>
                  <p>Call us to know more</p>
                    <img src="/images/top_info1.png" alt="" class="retina" /><br/>
                    <p class="info-text">+91 84 85 86 3000</p>
                </li>
                <li>
                  <p>Already Registered ?</p>
                    <p class="info-text"><a href="https://www.profitbookshq.com/login/index">Login to your account</a></p>
                </li>
            </ul>
        </div>
        <!-- top information end here -->
        
        <div id="mainmenu-wrapper">
          <!-- mainmenu start here -->
            <nav id="mainmenu">
                <ul id="menu">
                    <li class="dropdown"><a href="/home/index">Home</a>
                        <ul> 
                            <li><a href="/home/index-layout2.html"><span>-</span> home layout 2</a></li>
                            <li><a href="/home/index-layout3.html"><span>-</span> home layout 3</a></li>
                            <li><a href="/home/index-layout4.html"><span>-</span> home layout 4</a></li>      
                        </ul>
                    </li>
                  <li class="selected"><a href="/home/about">About</a></li>
                  <li><a href="/home/services">Pricing & Signup</a></li>
                    <li class="dropdown"><a href="#">Common Questions</a>
                      <ul> 
                            <li><a href="portfolio-2col.html"><span>-</span> portfolio 2 column</a></li>
                            <li><a href="portfolio-3col.html"><span>-</span> portfolio 3 column</a></li>
                            <li><a href="portfolio-4col.html"><span>-</span> portfolio 4 column</a>
                              <ul> 
                                    <li><a href="#"><span>-</span> dropdown level 2</a></li>
                                    <li><a href="#"><span>-</span> dropdown level 2</a></li>
                                    <li><a href="#"><span>-</span> dropdown level 2</a>
                                      <ul> 
                                            <li><a href="#"><span>-</span> dropdown level 3</a></li>
                                            <li><a href="#"><span>-</span> dropdown level 3</a></li>
                                            <li><a href="#"><span>-</span> dropdown level 3</a></li>      
                                        </ul>
                                    </li>     
                                </ul>
                            </li>     
                      </ul>
                  </li>
                    <li class="dropdown"><a href="#">Partners</a>
                      <ul> 
                            <li><a href="blog-right-sidebar.html"><span>-</span> blog right sidebar</a></li>
                            <li><a href="blog-left-sidebar.html"><span>-</span> blog left sidebar</a></li>
                            <li><a href="single-right-sidebar.html"><span>-</span> single right sidebar</a></li> 
                            <li><a href="single-left-sidebar.html"><span>-</span> single left sidebar</a></li>    
                      </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                    <li class="dropdown"><a href="#">Pages</a>
                      <ul> 
                            <li><a href="column.html"><span>-</span> column page</a></li>
                            <li><a href="tables.html"><span>-</span> table page</a></li>
                            <li><a href="button-list.html"><span>-</span> button &amp; list page</a></li>
                            <li><a href="/home/icons.html"><span>-</span> glyphicons page</a></li>
                            <li><a href="/home/typhography.html"><span>-</span> typhography page</a></li>
                            <li><a href="/home/testimonials.html"><span>-</span> testimonials page</a></li>  
                            <li><a href="/home/pricing"><span>-</span> pricing page</a></li>
                            <li><a href="/home/faq"><span>-</span> faq page</a></li>
                            <li><a href="/home/team"><span>-</span> team page</a></li>
                            <li><a href="/home/services-layout2.html"><span>-</span> services layout alt</a></li>
                            <li><a href="contact-layout2.html"><span>-</span> contact layout alt</a></li>
                            <li><a href="/home/sitemap"><span>-</span> sitemap page</a></li>
                            <li><a href="/home/fullwidth.html"><span>-</span> fullwidth page</a></li>
                            <li><a href="/home/404"><span>-</span> 404 page</a></li>                             
                      </ul>
                  </li>
              </ul>
            </nav>
            <!-- mainmenu end here -->
            
            <!-- top socials start here -->
            <div id="top-socials">
                <ul class="socials-list">
                    <li><a href="#" title="facebook" class="tooltip"><img src="/images/socials/facebook.png" alt="" class="retina" /></a></li>
                    <li><a href="#" title="twitter" class="tooltip"><img src="/images/socials/twitter.png" alt="" class="retina" /></a></li>
                    <li><a href="#" title="dribbble" class="tooltip"><img src="/images/socials/dribbble.png" alt="" class="retina" /></a></li>
                    <li><a href="#" title="google+" class="tooltip"><img src="/images/socials/google+.png" alt="" class="retina" /></a></li>
                    
                </ul>
            </div>
            <!-- top socials end here -->
        </div>
    </header>
    <!-- header end here -->
      
    <!-- page title start here -->
    <section id="special-content-wrapper">
      <div class="row pagetitle">
            <div class="seven columns">
                <h2>About Us.</h2>                
            </div>
            <div class="five columns">
              <div id="breadcrumb">
                  <ul>
                        <li><a href="/home/index">home</a></li>
                        <li class="current-page"><a href="#">about</a></li>
                    </ul>
              </div>  
          </div>
      </div>
    </section>
    <!-- page title end here -->
    
    <!-- content section start here -->
    <section id="content-wrapper">
    
      <div class="row">
          <div class="twelve columns">
              <p class="highlighttext">Simplicity does not mean want or poverty. It does not mean the absence of any decor, or absolute nudity. It only means that the decor should belong intimately to the design proper, and that anything foreign to it should be taken away.</p>
            </div>
        </div>
    
      <div class="row">
            <div class="four columns">
                <h5 class="title-line"><span>Who We Are?</span></h5>
                <p>Sed perspiciatis unde omnisiste natus error voluptatem remopa accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quaeab illo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur oditaut fugit seduia consequuntur dolorese exercitationem ullam corporis laboriosamis.</p>
                <a class="button small grey" href="#">Get a free Quote</a>
            </div>
            <div class="four columns">
              <h5 class="title-line"><span>The Studio</span></h5>
                <ul class="founder-list">
                  <li>
                      <div class="author-img">
                          <img src="/images/sample_images/testi-people1.jpg" alt="" />
                        </div>
                        <p class="founder-title">Robert Keiser</p>
                        <p>Principal Design</p>
                    </li>
                    <li>
                      <div class="author-img">
                          <img src="/images/sample_images/testi-people2.jpg" alt="" />
                        </div>
                        <p class="founder-title">David Fleming</p>
                        <p>Code &amp; Development</p>
                    </li>
                    <li>
                      <div class="author-img">
                          <img src="/images/sample_images/testi-people3.jpg" alt="" />
                        </div>
                        <p class="founder-title">Matt Vasquez</p>
                        <p>Dollars &amp; Sense</p>
                    </li>
                </ul>
          </div>
            <div class="four columns">
              <h5 class="title-line"><span>What They Say</span></h5>
                <!-- begin of testimonials 1 -->                    
                <div class="testi-container">                         
                    <div class="testi-text">
                        <blockquote>
                            <p>I searched all over and looked at many different company websites to decide which one to use and yours was by far the best. The designs are amazing.</p>
                        </blockquote>                                                         
                    </div>
                    <div class="clear"></div>                                                                      
                </div>
                <div class="testi-baloon"></div>
              <div class="testi-name">Jake Wood<br/><span class="company-name">Silver Arrow Corp</span></div>
          </div>
      </div>
        
        <div class="row">
            <div class="twelve columns client text-center">
                <h4>Our Friends</h4>
                <p>We don't rely on sales calls or stuffy networking, our work comes from word-of-mouth. It's said that you're only as good as your last job.</p>
                <ul class="client-box">
                    <li><img src="/images/sample_images/client1.png" alt="" class="retina" /></li>
                    <li><img src="/images/sample_images/client2.png" alt="" class="retina" /></li>
                    <li><img src="/images/sample_images/client3.png" alt="" class="retina" /></li>
                    <li><img src="/images/sample_images/client4.png" alt="" class="retina" /></li>
                    <li><img src="/images/sample_images/client5.png" alt="" class="retina" /></li>
                    <li><img src="/images/sample_images/client6.png" alt="" class="retina" /></li>
                    <li><img src="/images/sample_images/client7.png" alt="" class="retina" /></li>
                    <li><img src="/images/sample_images/client8.png" alt="" class="retina" /></li>
                    <li><img src="/images/sample_images/client9.png" alt="" class="retina" /></li>
                    <li><img src="/images/sample_images/client10.png" alt="" class="retina" /></li>
                    <li><img src="/images/sample_images/client11.png" alt="" class="retina" /></li>
                    <li><img src="/images/sample_images/client12.png" alt="" class="retina" /></li>                    
                </ul>
            </div>            
        </div>          
         
    </section>
    <!-- content section end here -->
    
    <!-- footer section start here -->
    <%= render :partial =>"footer" %>
    <!-- footer section end here -->
    
</div>

<script>$('#noscript').remove();</script>
</body></html>