<div class="panel panel-info data-filter" id="filter">
<div class="panel-heading"><h4 class="panel-title" > Filter</h4></div>
<form action = '' class="form-horizontal" method="get" data-validate="parsley">
  <div class="form-group"><br/>
              <div class="col-lg-1"></div>
              <% if @company.plan.enterprise_plan? && @current_user.owner? %> 
              <div class="col-lg-2">
              <%= select_tag('branch_id', options_from_collection_for_select(@company.branches, :id, :name, params[:branch_id]),  {:prompt => 'Select branch', :style => "width:150px;"}) unless !@current_user.owner?  %>
              </div>
              <% end %>
              <div class="col-lg-2 text-right">
              <%= text_field_tag :start_date, '',  :placeholder => "Start date", :size => '6',:class =>"form-control" %>
              </div>
              <div class="col-lg-2">
              <%= text_field_tag :end_date, '',  :placeholder => "End date", :size => '6',:class =>"form-control" %>
              </div>
              <div class="col-lg-2">  
              <input type="submit" value="Search" class="btn btn-success"/>
              </div>
  </div>
</form>
</div>
<script type="text/javascript">
  $('#branch_id').select2();
</script>