  <section id="content">
    <section class="main padder">
      <div class="row">
        <div class="col-lg-8">
            <h2><i class="icon-edit text"></i>Edit Company Profile </h2>
        </div>
        <div class="col-lg-4 m-t-large" align="right">
      <a href="#" class="btn btn-default "><i class="icon-info"> </i> </a>
        </div>  
      </div>
      <%= render :partial=> "form" %>
    </section>
  </section>

