<%  tax_account = tax_line_item_details.account
       if !(tax_account.accountable_type=='DutiesAndTaxesAccounts' && tax_account.accountable.calculation_method==4 && tax_account.accountable.split_tax == 0)
 %>
<tr valign="top">
  <td align="right"colspan="4"><%= tax_line_item_details.account.name.chomp('on purchases') %></td>
  <td align="right"><%= @purchase_return.group_tax_amt(tax_line_item_details.account_id) %> </td>
</tr> 

<% end %>