<!-- Page Title-->
<%= render :partial=> "shared/page_title" %>
<!-- Page Title end -->
<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
  <div class="wrapper">
    <!-- Left column/section -->
    <section class="column width6 first"></br>
    	<div class="highlight">
        <%= render "form"%>
      </div><br />
    </section>
      <!-- End of Left column/section -->
    <!-- Right column/section -->
<aside class="column width2"><br />
<%= list_button_white("View Campaigns", admin_campaigns_path)%>
</aside>
  <!-- End of Right column/section -->
 </div>
   <!-- End of Wrapper -->
</div>
<!-- End of Page content -->
