<% unless @reimbursement_voucher.payment_detail.account_number.blank?%>
<p><strong>Card Number:</strong> <%= @reimbursement_voucher.payment_detail.account_number  %></p>
<% end %>
<p><strong>Transaction Date:</strong> <%= @reimbursement_voucher.payment_detail.payment_date %></p>
<p><strong>Transaction Reference:</strong> <%= @reimbursement_voucher.payment_detail.transaction_reference%></p>