<% if @reimbursement_notes_for_account.blank? %>
<%= render "shared/no_record" %>
<% else %>
  <div class='form-group'>
    <div class="col-lg-9">
      <table class="table table-striped b-t text-small" id="reimbursement_voucher_line_items">
        <thead>
          <tr>
            <th width="20%"><label>Reimbursement Note</label></th>
            <th width="20%"><label>Date</label></th>
            <th width="30%"><label>Description</label></th>
            <th class='text-right'><label>Amount</label></th>
            <th class='text-right'><label>Receipt</label></th>
          </tr>
        </thead>
        <tbody>
          <% @reimbursement_voucher.reimbursement_note_line_items.each_with_index do | reimbursement_voucher_line_item, index | %>
            <%= render "reimbursement_voucher_line_items", :reimbursement_voucher_line_item => reimbursement_voucher_line_item, :index => index %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>