<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-10">
        <h3><i class="icon-edit text"></i>Receive Money as Reimbursement</h3>
      </div>
    </div>
    <%= render "reimbursement_vouchers/form" %>
  </section>
</section>