    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <%= render :partial=>"/shared/flash_msg"%>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-4">
                <section class="panel">
                  <header class="panel-heading bg-lighter"><strong>Payroll Reports</strong></header>
                  <div class="panel-body">
                    <div class="media">
                      <div class="pull-left media-small"><a href="/payment_advice/index">Payment Advice</a></div>
                    </div>
                    <div class="media">
                      <div class="pull-left media-small"><a href="/employee_breakup/index">Breakup by Employee</a></div>
                    </div>
                    <div class="media">
                      <div class="pull-left media-small"><a href="/employee_breakup/breakup_for_employee">Breakup for Employee</a></div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <section class="panel">
                  <header class="panel-heading bg-lighter"><strong>Work Reports</strong></header>
                  <div class="panel-body">
                    <div class="media">
                      <div class="pull-left media-small"><a href="/workstreams"> Recent Activities </a></div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="col-lg-4">
                <section class="panel">
                  <header class="panel-heading bg-lighter"><strong>Timesheet Reports</strong></header>
                  <div class="panel-body">
                    <div class="media">
                      <div class="pull-left media-small"><a href="/timesheets/report"> Timesheet </a></div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
