    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <%= render :partial=>"/shared/flash_msg"%>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-4">
                <section class="panel">
                  <header class="panel-heading bg-lighter"><strong>Other Reports</strong></header>
                  <div class="panel-body">
                    <div class="col-sm-6">
                      <div class="media">
                        <div class="pull-left media-small"><a href="/credit_note_register/index"> Credit Note Register </a></div>
                      </div>
                      <div class="media">
                        <div class="pull-left media-small"><a href="/gst_credit_note_register/index">GST Credit Note Register </a></div>
                      </div>
                      <div class="media">
                        <div class="pull-left media-small"><a href="/debit_note_register/index">Debit Note Register</a></div>
                      </div>
                      <div class="media">
                        <div class="pull-left media-small"><a href="/gst_debit_note_register/index">Gst Debit Note Register</a></div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="col-lg-4">
                <section class="panel">
                  <header class="panel-heading bg-lighter"><strong>Sales Reports</strong></header>
                  <div class="panel-body">
                    <div class="media">
                      <div class="pull-left media-small"> <a href="/sales_register/index"> Sales Register</a></div>
                    </div>
                     <div class="media">
                      <div class="pull-left media-small"> <a href="/invoice_report/index"> Invoice Report</a></div>
                    </div>
                    <div class="media">
                      <div class="pull-left media-small"><a href="/bills_receivable/index"> Outstanding Receipts</a></div>
                    </div>
                    <div class="media">
                      <div class="pull-left media-small"><a href="/customer_statements/index"> Customer Statement</a></div>
                    </div>
                    <div class="media">
                      <div class="pull-left media-small"><a href="/invoice_settlement/index"> Invoice Settlement</a></div>
                    </div>
                  </div>
                </section>
              </div>
            </div>

            <div class="row">
              <% if !@current_user.inventory_manager?  %>
                <div class="col-lg-4">
                  <section class="panel">
                    <header class="panel-heading bg-lighter"><strong>Work Reports</strong></header>
                    <div class="panel-body">
                      <div class="media">
                        <div class="pull-left media-small"><a href="/workstreams"> Recent Activities </a></div>
                      </div>
                    </div>
                  </section>
                </div>
                <% if !@company.plan.free_plan? && !@company.plan.essential_plan? %>
                  <div class="col-lg-4">
                    <section class="panel">
                      <header class="panel-heading bg-lighter"><strong>Timesheet Reports</strong></header>
                      <div class="panel-body">
                        <div class="media">
                          <div class="pull-left media-small"><a href="/timesheets/report"> Timesheet </a></div>
                        </div>
                      </div>
                    </section>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </section>
      </div>
    </div>
