<div class="panel panel-info data-filter" id="filter">
  <div class="panel-heading"><h4 class="panel-title" >TDS Filter</h4></div>
    <table class="table table-striped m-b-none text-small" >
      <tbody>
        <tr>
          <td><label>TDS no</label></td>
          <td id="tdsno"></td>
          <td><label><%= @company.label.customer_label%></label></td>
          <td id="customer"></td>
        </tr>
        <tr>
          <td><label>Due Date</label></td>
          <td id="dueDate"></td>
          <td><label>Amount</label></td>
          <td id="amount"></td>
        </tr>
        <tr>
          <td><label>Status</label></td>
          <td id="status"></td>
          <td><label>Project</label></td>
          <td id="project"></td>
        </tr>
      </tbody>
    </table>
</div>  