<tr>
<td><%= tds_payment_voucher.payment_date%></td>
<td><%= tds_payment_voucher.challan_no%></td>
<td><%= tds_payment_voucher.assessment_year %></td>
<td><%= tds_payment_voucher.amount %></td>
<td></td>
</tr>