<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-10">
          <h3><i class="icon-edit text"></i>Edit Payment Voucher - <%= @tds_payment_voucher.challan_no%></h3>
      </div>
      <div class="col-lg-2 m-t-large" align="right">
      </div>  
    </div>
    <p></p>
    <%= render :partial=> "edit_form" %>
  </section>
</section>
