<!-- Page title -->
<%= render 'shared/page_title' %>
<!-- End of Page title -->
<!-- Page content -->
    <div id="page">
   <!-- Wrapper -->
      <div class="wrapper">

      <!-- Left column/section -->
         <section  class="column width6 first">

            <%= render 'form' %>
 <!-- End of Left column/section -->
        </section>
     </div>
   </div>	 