 

          <% sentence = "#{gstr_advance_receipt_history.description}" 
          if sentence.match(/created/) || sentence.match(/added/)
          i_cls = 'icon-plus'
        elsif sentence.match(/updated/)
          i_cls = 'icon-edit'
        elsif sentence.match(/printed/)
          i_cls = 'icon-print'
        elsif sentence.match(/sent/)
          i_cls = 'icon-envelope'
          end%>

           <!--Invoice History -->
          <tr>
            <td>
            <span><i class='<%= i_cls%>'></i></span> <a> <%= gstr_advance_receipt_history.received_date%></a> gstr_advance_receipt <%= gstr_advance_receipt_history.description %> by <%= User.find(gstr_advance_receipt_history.to_account_id).full_name%>
            </td>
          </tr>
  