<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>New Advance Receipt</title>
  <meta name="description" content="mobile first, app, web app, responsive, admin dashboard, flat, flat ui">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/plugin.css">
  <link rel="stylesheet" href="css/landing.css">
  <link rel="stylesheet" href="js/select2/select2.css">
  <!--[if lt IE 9]>
    <script src="js/ie/respond.min.js"></script>
    <script src="js/ie/html5.js"></script>
    <script src="js/ie/excanvas.js"></script>
  <![endif]-->
</head>
<body>
  <!-- header -->
  <header id="header" class="navbar">
    <ul class="nav navbar-nav navbar-avatar pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">            
          <span class="hidden-xs-only">Mika Sokeil</span>
          <span class="thumb-small avatar inline"><img src="images/avatar.jpg" alt="Mika Sokeil" class="img-circle"></span>
          <b class="caret hidden-xs-only"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Settings</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#"><span class="badge bg-danger pull-right">3</span>Notifications</a></li>
          <li class="divider"></li>
          <li><a href="docs.html">Help</a></li>
          <li><a href="signin.html">Logout</a></li>
        </ul>
      </li>
    </ul>
    <a class="navbar-brand" href="#">The Nextwave Technologies</a>
    <button type="button" class="btn btn-link pull-left nav-toggle visible-xs" data-toggle="class:slide-nav slide-nav-left" data-target="body">
      <i class="icon-reorder icon-xlarge text-default"></i>
    </button>
    <ul class="nav navbar-nav hidden-xs">
      <li><div class="btn-group">
                  <button class="btn btn-white m-t-small btn-sm dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i> New &nbsp;<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div></li>
      <li><div class="m-t m-b-small"><a href="#" class="dropdown-toggle "><i class="icon-envelope-alt icon-xlarge "></i><b class="badge badge-notes bg-info ">5</b></a></div></li>
      <li><div class="m-t m-b-small"><a href="#" class="dropdown-toggle"><i class="icon-check icon-xlarge"></i></a></div></li>
      <li><div class="m-t m-b-small"><a href="mailto:402c2c9d003ab5c965babf93ec504bed456a7bc4@incoming.intercom.io" class="dropdown-toggle"><i class="icon-question-sign icon-xlarge"></i></a></div></li>
        </ul>
      </li>
    </ul>
  
  </header>
  <!-- / header -->

  <!-- nav --> 
  <nav id="nav" class="nav-primary bg-green hidden-xs nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">
      <li class="dropdown-submenu">
        <a href="#"><i class="icon-money icon-xlarge"></i><span>Income</span></a>
        <ul class="dropdown-menu">
          <li><a href="buttons.html">Buttons</a></li>
          <li><a href="icons.html"><b class="badge pull-right">302</b>Icons</a></li>            
          <li><a href="grid.html">Grid</a></li>
          <li><a href="widgets.html"><b class="badge bg-primary pull-right">8</b>Widgets</a></li>
          <li><a href="components.html"><b class="badge pull-right">18</b>Components</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="#"><i class="icon-credit-card icon-xlarge"></i><span>Expenses</span></a>
        <ul class="dropdown-menu">
          <li><a href="list.html">List groups</a></li>
          <li><a href="table.html">Table</a></li>
        </ul>
      </li>
      <li><a href="form.html"><i class="icon-building icon-xlarge"></i><span>Banking</span></a></li>
      <li><a href="chart.html"><i class="icon-edit-sign icon-xlarge"></i><span>Journal</span></a></li>
      <li class="dropdown-submenu">
        <a href="#"><i class="icon-tags icon-xlarge"></i><span>Inventory</span></a>
        <ul class="dropdown-menu">
          <li><a href="mail.html">Mail</a></li>
          <li><a href="calendar.html">Fullcalendar</a></li>
          <li><a href="timeline.html">Timeline</a></li>
          <li><a href="profile.html">Profile</a></li>
          <li><a href="signin.html">Signin page</a></li>
          <li><a href="signup.html">Signup page</a></li>
          <li><a href="404.html">404 page</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="#"><i class="icon-check icon-xlarge"></i><span>GST</span></a>
        <ul class="dropdown-menu">
          <li><a href="mail.html">Return Filing</a></li>
          <li><a href="calendar.html">Ledgers</a></li>
          <li><a href="timeline.html">Record Tax Payment</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a href="#"><i class="icon-bar-chart icon-xlarge"></i><span>Reports</span></a>
        <ul class="dropdown-menu">
          <li><a href="list.html">List groups</a></li>
          <li><a href="table.html">Table</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- / nav -->
  
  <section id="content">
    <section class="main padder">
          
  <div class="row">
    <div class="col-lg-10">
        <h2><i class="icon-file-text text"></i> Create New Advance Receipt</h2>
    </div>
          
    
    <div class="col-lg-2 m-t-large" align="right">
                       
        <a href="#" class="btn btn-default "><i class="icon-info"> </i> </a>
    </div>  
    </div>
    
      <div class="row">
        <div class="col-sm-12">
          <section class="panel">
            <div class="panel-body">
            
            <div class="row">
                <div class="col-sm-4">
                    <div class="row form-group">
                        <div class="col-sm-3">
                           <label class="control-label control-label-required">Customer</label>
                        </div>

                        <div class="col-lg-9">
                            <select id="select2-option" style="width:260px">
                                    <option value="CA">Vijay Anand</option>
                                    <option value="NV">Nevada</option>
                                    <option value="OR">Oregon</option>
                                    <option value="WA">Washington</option>
                            </select>
                        </div>
                    </div>

                <div class="row form-group">
                      <div class="col-sm-3">
                         <label class="control-label control-label">GSTN</label>
                      </div>

                      <div class="col-lg-9">22AAAAA0000A1Z5
                      </div>
                </div>
        
                <div class="row form-group">
                  <div class="col-sm-6">
                     <label class="control-label">Billing Address</label><br>Office 7, <br>Koregaon Park <br> Pune <br>Maharashtra<br>India
                  </div>
                  <div class="col-lg-6">
                     <label class="control-label">Shipping Address</label><br>Office 7, <br>Koregaon Park <br> Pune <br>Maharashtra<br>India
                  </div>
                </div>
                </div>

                <div class="col-sm-1">
                <!- Blank Column -->
                </div>

                <div class="col-sm-5">

                  <div class="row form-group">
                        <div class="col-sm-3">
                           <label class="control-label control-label-required">Receipt #</label>
                        </div>

                        <div class="col-lg-8">RCPT/1234/12
                        </div>
                  </div>

                  <div class="row form-group">
                        <div class="col-sm-3">
                           <label class="control-label control-label-required">Receipt Date </label>
                        </div>

                        <div class="col-lg-4">
                          <input class="input-sm form-control datepicker" size="16" type="text" value="01-07-2017" data-date-format="dd-mm-yyyy" >
                        </div>
                  </div>

                  <div class="row form-group">
                        <div class="col-sm-3">
                           <label class="control-label control-label-required">Deposit to </label>
                        </div>

                        <div class="col-lg-4">
                          <select id="select2-option" style="width:260px">
                                    <option value="CA">Cash In hand</option>
                                    <option value="NV">Bank 1</option>
                                    <option value="OR">Bank 2</option>
                            </select>
                        </div>
                  </div>

                  <div class="row form-group">
                        <div class="col-sm-3">
                           <label class="control-label control-label-required">Payment Mode </label>
                        </div>

                        <div class="col-lg-6">
                        <select id="select2-option" style="width:260px">
                                    <option value="CA">Cash</option>
                                    <option value="NV">Cheque</option>
                                    <option value="OR">Credit Card/Debit Card</option>
                                    <option value="OR">Bank Transfer</option>
                            </select><br><br>
                          <input type="text" class="form-control" value="Payment Details" id="input-id-1">
                        </div>
                  </div>

                </div>

                <div class="col-sm-1">

                  <div class="row panel form-group bg-success">
                        <div class="col-sm-3">
                           <label class="control-label control-label-required">Allocated</label>
                        </div>
                  </div>
                  <div class="row panel form-group bg-danger">
                        <div class="col-sm-3">
                           <label class="control-label control-label-required">Not Allocated</label>
                        </div>
                  </div>
                  <div class="row panel form-group bg-warning">
                        <div class="col-sm-3">
                           <label class="control-label control-label-required">Partially Allocated</label>
                        </div>
                  </div>
                </div>  

               


            </div>
 

               


            </div>

              <form class="form-horizontal" method="get" data-validate="parsley"> 
          
                

                  

                <div class="row form-group">
                  <div class="col-sm-12">
                     
                   <!-- Invoice table starts -->
                        <div class="table-responsive">
                          <table class="table table-striped b-t">
                            <thead>
                              <tr>
                                <th>Product/Service</th>
                                <th>Quantity</th>
                                <th>Unit Rate</th>
                                <th>Discount</th>
                                <th>Taxable Value</th>
                                <th>Tax (%)</th>
                                <th>Total</th>
                                <th><!--left blank for action buttons --> </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td style="width:200px;">
                                  <div>
                                  <select id="select2-option" style="width:260px">
                                          <option value="CA">iPhone 7 64GB</option>
                                          <option value="NV">Nevada</option>
                                          <option value="OR">Oregon</option>
                                          <option value="WA">Washington</option>
                                  </select>
                                  </div>
                                  <h5>HSN : 8517</h5>
                                  <p>Description - 1-year Apple warranty.</p>
                                </td>
                                <td style="width:20px;"><input type="text" class="form-control" id="input-id-1"></td>
                                <td style="width:120px;"><input type="text" class="form-control" id="input-id-1"></td>
                                <td style="width:80px;"><input type="text" class="form-control" id="input-id-1"></td>
                                <td style="width:120px;" class="text-amount">50,000</td>
                                <td style="width:200px;">
                                        <select name="account" class="form-control">
                                          <option value="1">GST at 5 %</option>
                                          <option value="1">GST at 12 %</option>
                                          <option value="1">GST at 18 %</option>
                                          <option value="1">GST at 28 %</option>
                                          <option value="0">Nil Rated</option>
                                          <option value="1">0 %</option>
                                        </select>
                                  <table>
                                  <tr><td style="border-top: 0px">CGST</td><td style="border-top: 0px">9% (Rs 4,500)</td></tr>
                                  <tr><td style="border-top: 0px">SGST</td><td style="border-top: 0px">9% (Rs 4,500)</td></tr>
                                  <tr><td style="border-top: 0px">IGST</td><td style="border-top: 0px"> - </td></tr>
                                  </table>

                                </td>
                                <td style="width:250px;"  class="text-amount">12,243</td>
                                <td>
                                  <a href="#"><i class="icon icon-close "></i></a>
                                </td>
                              </tr>
                              <tr>
                                <td  colspan="7"><button type="submit" class="btn btn-default col-sm-12 " style="border-style: dashed;"><i class="icon-plus " style="color: deepskyblue;"></i> <span class="text-info"> Add New Line</span></button> 
                                </td> 
                              </tr>
                              <tr>
                                <td colspan="5" style="border-color: #fff">&nbsp;</td> 
                                <td class="text-amount"> Taxable Value </td>
                                <td class="text-amount"> 12,23,3000 </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td colspan="5" style="border-color: #fff">&nbsp;</td> 
                                <td class="text-amount"> Total CGST </td>
                                <td align="right"> 23,3000 </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td colspan="5" style="border-color: #fff">&nbsp;</td> 
                                <td class="text-amount"> Total SGST </td>
                                <td class="text-amount"> 23,3000 </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td colspan="5" style="border-color: #fff">&nbsp;</td> 
                                <td class="text-amount"> Total IGST </td>
                                <td class="text-amount"> 23,3000 </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td colspan="5" style="border-color: #fff">&nbsp;</td> 
                                <td class="text-amount"> Total Tax </td>
                                <td class="text-amount"> 3000 </td>
                                <td>&nbsp;</td>
                              </tr>
                              
                              <tr class="bg-light">
                                <td colspan="5">&nbsp;</td> 
                                <td class="text-amount"> <strong>Total</strong> </td>
                                <td align="right"> <strong>12,23,3000 </strong> </td>
                                <td>&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        
                      
                    <!-- Invoice table ends -->   

                                      </div>
                </div>  

                  


                 <div class="row form-group">

                  <div class="col-sm-6">
                  <label class="control-label"><i class="icon icon-briefcase"></i> Link To A Project  </label><br>
                    
                            <select id="select2-option" style="width:260px">
                                    <option value="CA">California</option>
                                    <option value="NV">Nevada</option>
                                    <option value="OR">Oregon</option>
                                    <option value="WA">Washington</option>
                            </select>
                  </div>
                 </div> 

                 
                <div class="form-group">
                <p></br></br></p>
                  <div class="col-lg-9 col-lg-offset-3">        
                    <button type="submit" class="btn btn-success">Save changes</button>        
                    <button type="submit" class="btn btn-white">Save & add new</button>       <button type="submit" class="btn btn-white">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </section>
      </div>
    </div>
    

   </section>
  </section>

  <!-- footer -->
  <footer id="footer">
    <div class="text-center padder clearfix">
      <p>
        <small>&copy; first 2013, Mobile first web app framework base on Bootstrap</small><br><br>
        <a href="#" class="btn btn-xs btn-circle btn-twitter"><i class="icon-twitter"></i></a>
        <a href="#" class="btn btn-xs btn-circle btn-facebook"><i class="icon-facebook"></i></a>
        <a href="#" class="btn btn-xs btn-circle btn-gplus"><i class="icon-google-plus"></i></a>
      </p>
    </div>
  </footer>
  <a href="#" class="hide slide-nav-block" data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>
  <!-- / footer -->
  <script src="js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="js/bootstrap.js"></script>
  <!-- app -->
  <script src="js/app.js"></script>
  <script src="js/app.plugin.js"></script>
  <script src="js/app.data.js"></script> 
  <!-- select2 -->
  <script src="js/select2/select2.min.js"></script> 
  <!-- datepicker -->
  <script src="js/datepicker/bootstrap-datepicker.js"></script>
</body>
</html>