  <table class="table table-striped m-b-none text-small" id="expenses" data-source="<%= expenses_url(:format => "json", :project=>@project.id)%>">

   <thead>
    <tr>
      <th>Voucher #</th>
      <th>Paid from </th>
      <th>Expense date</th>
      <th>Amount</th>
      <th>Created By</th>
    </tr>
  </thead>
  <tbody>
   
  </tbody>
  
  <tfoot>
     <tr style="visibility:hidden">
      <th>Voucher #</th>
      <th>Paid from </th>
      <th>Expense date</th>
      <th>Amount</th>
      <th>Created By</th>
    </tr>
  </tfoot>
</table>
