<table id="invoices" class="table table-striped b-t text-small" data-source="<%= invoices_url(:format => 'json', :project => @project.id) %>" >
  <thead>
    <tr>
      <th>Voucher #</th>
      <th>Customer</th>
      <th>Due date</th>
      <th>Amount</th>
      <th>Created By</th>
    </tr>
  </thead>
  <tbody>
   
  </tbody>
  <tfoot>
     <tr style="visibility:hidden">
      <th>Voucher #</th>
      <th>Customer</th>
      <th>Due date</th>
      <th>Amount</th>
      <th>Created By</th>
    </tr>
  </tfoot>
</table>
  