 <table id="receipt_vouchers" class="table table-striped m-b-none text-small" data-source ="<%= receipt_vouchers_url(:format => "json", :project=>@project.id) %>" >
  <thead>
    <tr>
      <th>Voucher #</th>
      <th>Received from</th>
      <th>Voucher date</th>
      <th>Amount</th>
      <th>Payment mode</th>
    </tr>
  </thead>
  <tbody>
  
  </tbody>
  <tfoot>
     <tr style="visibility:hidden">
      <th>Voucher #</th>
      <th>Received from</th>
      <th>Voucher date</th>
      <th>Amount</th>
      <th>Payment mode</th>
    </tr>
  </tfoot>
</table>
  