<table id="altsk" class="table table-striped b-t text-small" data-source="<%= tasks_url(:format => 'json', :project => @project.id) %>" >
  <thead>
    <tr>
     <th>Task Description</th>
     <th>Due Date</th>
     <th>Assigned to</th>
     <th>Created by</th>
     <th>Priority</th>
  </tr>
  </thead>
  <tbody>
   
  </tbody>
  <tfoot>
     <tr style="visibility:hidden">
     <th>Task Description</th>
     <th>Due Date</th>
     <th>Assigned to</th>
     <th>Created by</th>
     <th>Priority</th>
  </tr>
  </tfoot>
</table>
  