<div class="row">

          <div  class="col-sm-12 m-b-mini">

                  <p>Once you review the uploaded invoices, you can proceed to finally submitting the GSTR-1. Please note that its a final step and you won’t be able to make changes once the return is filed.</p>

                  <p>Please follow these steps to submit the return:<br/>



                      1) Login to <a href="https://www.gst.gov.in/">www.gst.gov.in.</a><br/>



                      2) Go to ‘Services’ –> ‘Returns’  and then click on ‘Returns Dashboard’.<br/>



                      3) Select the return filing period.<br/>



                      4) Choose ‘Prepare Online’ mode.<br/>

                      <img src="https://i2.wp.com/www.profitbooks.net/wp-content/uploads/2017/09/GSTR-1-Prepare-Online.png" width="835" height="259"><br/><br/>





                    5) Select the checkbox, submit and choose a signing method and file GSTR-1.<br />

                    <img src="https://i2.wp.com/www.profitbooks.net/wp-content/uploads/2017/09/GSTR-1-Submit-On-GSTN.png" width="835" height="193"><br/><br/><br/>

                    That’s it. Your GSTR-1 return is filed.

                  </p>

               </div>

          </div>