<!-- Page Title-->
<%= render "shared/page_title" %>
<div id="page">
  <div class="wrapper">
    <!-- Left column/section -->
    <section  class="column width6 first"><br/>
      <div class="highlight">
        <%= render "shared/flash_msg" %>
        <%= render 'form' %>
      </div><br />
    </section>
	  <!-- Right column/section -->
    <aside class="column width2" >
	    <!--<div id="rightmenu">
        <dl class="first">
          <dt><img width="16" height="16" alt="" SRC="/images/help.png"></dt>
          <dd><a href="/helps/22" class="nyroModal">Help</a></dd>
          <dd class="last">If you are a new user, you should read "Getting started"</dd>
        </dl>
      </div>--><br />
    </aside>
    <!-- End of Right column/section -->
  </div>
</div>
