$('body').append("<div id='msg_box'><div class='box box-success'>Profile picture has been changed successfully</div></div>");

<% if @is_save %>
  $("#<%= params[:user]%>").val('<%= @user.avatar %>');
  $('#popup_box').fadeOut("slow");
  $('#msg_box').fadeIn("slow", function(){
    $('#msg_box').fadeOut(7000);
  });
  
<% else %>
  <% if @user.errors[:avatar].any? %>
    var error = "<%= @user.errors[:avatar] %>";
    $("span#name").text(error);
    $("#name").css("border-color",'#f55');
  <% end %>
<% end %>

$("#name").keyup(function(){
  if($("span#name").text()){
    $("span#name").text('');
    $("#name").css("border-color", "");
  }
});




