<!-- Page Title-->
<%= render :partial=> "shared/page_title" %>
<!-- Page Title end -->
<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
  <div class="wrapper">
    <!-- Left column/section -->
    <section class="column width6 first"></br>

      <div class="highlight">
       <%= render "shared/flash_msg"%><br/>
        <%= render "form"%>
      </div><br />
    </section>
      <!-- End of Left column/section -->
    <!-- Right column/section -->
<aside class="column width2"><br />
   <a href="/admin/announcements" class="btn btn-special btn-green btn-green-index"><img src="/images/white_icon/ic_list.png" class="icon"/> View announcements</a>
   
</aside>
  <!-- End of Right column/section -->
 </div>
   <!-- End of Wrapper -->
</div>
<!-- End of Page content -->
