<form action = 'index'>
<td> 
  <%= text_field_tag :start_date,'', :placeholder => "Start date", :size => "8"%>&nbsp;
  <%= text_field_tag :end_date,'',:placeholder => "End date", :size => "8" %>&nbsp;
  <input type="submit" value="Search" class="btn btn-green"/>
</td>
	
</form>
