<tr id="issue_row_link" valign="top">
  <td valign="top" colspan="8">
    <%= link_to '+ Add new row', {:controller => :stock_issue_vouchers, :action => 'add_row', :index => index}, :remote => true, :id =>"row_link", :class =>"btn btn-white btn-sm" %>
  </td>
</tr>
