<tr  valign="top" >
  <td valign="top"><%= stock_issue_line_item_details.product_name  %> </td>
  <td><%= stock_issue_line_item_details.quantity %> <%= stock_issue_line_item_details.product.unit_of_measure %></td>
</tr>

