<div class="table-responsive row">
  <table class="table table-striped b-t text-small" id="delivery_challans" data-source="<%= delivery_challans_url(:format => 'json') %>">
    <thead>
      <%= render "delivery_challans/header"%>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
     <%= render "delivery_challans/footer" %>
    </tfoot>
  </table>
</div>