<tr>
    <td><%= leave_cards.leave_type_name %></td>
    <td><%= leave_cards.total_leave_cnt %></td>
    <td><%= leave_cards.utilized_leave_cnt %></td>
    <td><%= leave_cards.pending_leave_count %></td>
</tr>
