 <!-- Page title -->
  <%= render "shared/page_title"%>
<!-- End of Page title -->

<!-- Page content -->
    <div id="page">
   <!-- Wrapper -->
      <div class="wrapper">
     <!-- Left column/section -->
         <section class="column width6 first"></br>
           <div id="tabs-all" class="highlight">
              <%= render 'form' %>
            </div><br />
          </section>
      <!-- End of Left column/section -->
       <!-- Right column/section -->
      <aside class="column width2"><br />
        <%= list_button_white "View Announcements", organisation_announcements_path %>
    	</aside>
  <!-- End of Right column/section -->
 
   </div>
   <!-- End of Wrapper -->

</div>
<!-- End of Page content -->
