<div class="panel panel-info data-filter" id="filter">
  <div class="panel-heading"><h4 class="panel-title" > Filter</h4></div>
  <form action = '' class="form-horizontal" method="get">
    <div class="row">
      <div class="form-group"><br/>
      <div class="col-lg-2"></div>
        <div class="col-lg-2">
          <%= text_field_tag :start_date, params[:start_date],  :placeholder => "Start date", :size => '6',:class=>"form-control parsley-validated" %>
        </div>
        <div class="col-lg-2">
          <%= text_field_tag :end_date, params[:end_date],  :placeholder => "End date", :size => '6',:class=>"form-control parsley-validated" %>
        </div>
        <div class="col-lg-2">
          <input type="submit" value="Search" class="btn btn-success"/>
        </div>
      </div> 
    </div>
  </form>
</div>

<script type="text/javascript">
   $('#account_id').select2();
   $('#branch_id').select2();
</script>


