<tr  valign="top" >
  <td valign="top"><%= stock_transfer_line_item_details.product_name  %> </td>
  <td><%= stock_transfer_line_item_details.transfer_quantity %> <%= stock_transfer_line_item_details.product.unit_of_measure %></td>
  <td><%= stock_transfer_line_item_details.destination_warehouse_name %></td>
</tr>

