<div class='table-responsive row'>
  <table class="table table-striped m-b-none text-small" id="stock-transfer" data-source="<%= stock_transfer_vouchers_path(:format=>'json') %>">
    <thead>
      <%= render "stock_transfer_vouchers/header"%>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <%= render "stock_transfer_vouchers/footer" %>
    </tfoot>
  </table>
</div>
