 <!-- Page title -->
<div id="pagetitle">
  <div class="wrapper">
    <h1><span>ProfitBooks feedback</span></h1>
  </div>
</div>
<!-- End of Page title -->
<!-- Page content -->
<div id="page">
   <!-- Wrapper -->
  <div class="wrapper">
    <!-- Left column/section -->
    
        <div class = "content-box">
			<header>
				<h3>Hi, <%=session[:name]%></h3>
			</header>
			<section>
			  <%= render 'form'%>
			</section>
		</div>
	</div>
	
</div>&nbsp;

