<tr  valign="top" >
  <td valign="top"><%= stock_receipt_line_item_details.product_name  %> </td>
  <td><%= format_amount(stock_receipt_line_item_details.unit_rate) %></td>
  <td><%= stock_receipt_line_item_details.quantity %> <%= stock_receipt_line_item_details.product.unit_of_measure %></td>
</tr>

