    
  <%@invoice_attachment.each do |document| %>
   <tr>
      <td><i class="icon-file"></i>&nbsp;<%= link_to document.file_name, document.uploaded_file.url %></td>
      <td><%= number_to_human_size(document.file_size, :precision => 2) %></td>
      <td><%= document.uploaded_file_updated_at.strftime("%d-%m-%Y") %></td>
      <td><%= link_to "<i class='icon-trash'></i>".html_safe,"/invoice_attachments/#{document.id.to_s}", :confirm => 'Are you sure?', :method => :delete, :title=>"Delete" %></td>
   </tr>
 <% end %>
		