<section id="content">
  <section class="main padder">
    <div class="row">
      <div class="col-lg-4">
        <h2><i class="icon-file-text-alt text"></i>GST Authorization</h2>
      </div>
      <div class="col-lg-8 m-t-large" align="right">
        <a href="#" class="btn btn-default btn-lg "><i class="icon-info"> </i> </a>
        <p></p>
      </div>  
    </div>

    <div class="row">
      <div class="col-lg-6">
        <section class="panel">
          <header class="panel-heading bg-light">
            <i class="icon-list icon-download-alt text-default"></i>GST details
          </header>
          <div class="panel-body">
            <div class="tab-pane active" id="all">
              <div class="row text-small">
                <div class="col-sm-7">
                  <h5>Thank you for entering your GST details. Your reports will be created in few minutes!</h5>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</section>  