<table class = "filter_highlight">
    <tr>
     <td >
     <a href="<%= url_for(:format => 'xls') %> " class="btn  btn-gray"  target = "_blank">
       <%= image_tag "excel_icon.gif" ,:alt=>"Export to Excel", :title=>"Export to Excel" ,:class => "icon"%>&nbsp;Export to Excel</a>
      <a href="/admin/email_templates/send_bulk_email" class="btn "><%= image_tag "send.png", :alt=>"Send Email", :class => "icon", :title=>"Send email" %> Send Email</a>
    </td>
  </tr>
  </table> 
