 
 <!-- Page title -->
  <%= render "shared/page_title"%>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
  <!-- Wrapper -->
  <div class="wrapper">
    <!-- Left column/section -->
    <section class="column width6 first"></br>
    	<div class="highlight">
       <%= render :partial=> "shared/flash_msg"%>
    	<%= render 'form' %>
    	</div><br />
		</section>
    <!-- End of Left column/section -->
     <!-- Right column/section -->
    <aside class="column width2"><br />
    <a href="/supports" class="btn btn-special btn-green"><img src ="/images/white_icon/ic_list.png" class ="icon" /> View support tickets</a>	
      <!--<div id="rightmenu">
        <dl class="first">
          <dt><img width="16" height="16" alt="" SRC="/images/help.png"></dt>
          <dd><%= link_to 'Help', "#", :class=>"nyroModal" %></dd>
          <dd class="last">Create and sent new message</dd>
        </dl>
      </div><br />-->
    </aside>
    <!-- End of Right column/section -->
  </div>
  <!-- End of Wrapper -->
</div>
<!-- End of Page content -->
