          <article>
            <header align="center">
              <h1 class="mb0">The Latest Blog Post</h1>
              <h2 class="mb20">Naveen wrote this on April 14 2013 </h2>
            </header>
            <div class="content">
              <h2>The problem with the &#8220;follow your passion&#8221; chorus: We can&#8217;t <em>all</em> love the products we work with. Someone has to do the jobs and sell the things that don&#8217;t seem sexy but make the world go round.</h2>

              <p>It&#8217;s something we&#8217;ve seen in our Bootstrapped, Profitable, and Proud series. <a href="http://37signals.com/svn/posts/2800-bootstrapped-profitable-proud-braintree">Braintree processes credit cards.</a> You won&#8217;t meet too many people who claim to &#8220;love&#8221; credit card processing. Even Braintree’s Bryan Johnson admits, &#8220;I’m not particularly passionate about payments, but I am passionate about trying to build a good company.&#8221; Johnson gets satisfaction from making customers happy, creating a workplace that employees enjoy, and improving  “an unscrupulous and broken industry.”
              <br>
              <a href="http://37signals.com/svn/posts/2691-bootstrapped-profitable-proud-insuranceagentscom">InsuranceAgents.com sells insurance.</a> Again, it&#8217;s tough to find anyone with a &#8220;passion&#8221; for insurance. Seth Kravitz of InsuranceAgents.com says, “Insurance is not an exciting industry, but that doesn’t mean the work can’t be meaningful. We had to find ways to make the work more fun, make the environment more family like, and show people the positive impact of what they do.”
              <br>
              Both these companies have succeeded by dropping the &#8220;follow your passion&#8221; idea and focusing instead on process.</p>


              <h2>The problems with passion</h2>

              <p>Part of this is recognizing that, despite its wonders, there are also problems with passion. For one thing, most people&#8217;s passions aren&#8217;t that unique. That&#8217;s why it&#8217;s so hard to succeed in the restaurant business or as a professional dancer; You&#8217;re competing against everyone else with that same dream.</p>


              <p>Also, turning a passion into a business is a good way to kill the passion. You might love music. But become a music critic and you&#8217;re going to have to listen to hundreds of albums every month. Including a lot of stuff you hate. By the end of it, you might just discover that you can&#8217;t stand the thing you used to love. Kravitz says, &#8220;I love reading books, but I would hate to be a book reviewer. What you love to do in your personal life, many times doesn’t translate well into a business.&#8221;</p>


              <h2>How not what</h2>

              <p>So does this mean we&#8217;re all doomed to a life of ditch digging drudgery? No. It&#8217;s about redefining passion. Instead of working with <em>a thing</em> you love, think about how to work in <em>a way</em> you love.</p>


              <p>It&#8217;s something Amy Hoy talks about in <a href="http://unicornfree.com/2011/dont-follow-your-passion/">Don’t Follow Your Passion</a>. Here&#8217;s her take on <em>The Cute Little Café Syndrome</em>:</p>


              <blockquote>
              If you want to run a successful café — and enjoy it — you need to love a lot more than coffee. You’ve also gotta get some kind of pleasure, even grim satisfaction, out of the daily grind. (Ha ha.) Which means, of course, interacting with customers, hiring &#38; managing wait staff, handling the day-to-day necessities like ordering supplies, cleaning, paying rent, marketing your butt off, and dealing with customers who want to squat on your valuable tables all day for just $2 of brew.
              </blockquote>

              <p>Take your cues from this &#8220;daily grind&#8221; example and how companies like Braintree and InsuranceAgents.com succeed. Find meaning in what you&#8217;re doing. Work to improve your industry. Get joy from making a customer&#8217;s day. Surround yourself with the kinds of people and environment that keep you engaged. Figure out the details and day-to-day process that keep you stimulated. Focus on how you execute and making continual improvements. Get off on how you sell, not what you sell.
              <br>
              It might not be the romantic ideal of &#8220;passion.&#8221; But if it provides you with sustainable joy and profit that you can count on, you&#8217;ll still be way ahead of the curve (and have extra resources and free time to spend doing whatever you want).</p>
            </div>
          </article>
          <div class="clear"></div>
          <div class="mb30 hr"></div>
          <div class="clear"></div>
          