Hello <b><%= @current_user.full_name%></b>
<br>
<br/>

Please note that the following user has been restored in ProfitBooks:
<br><br/>
</b>
 Name: <b><%= @user.full_name %></b><br/>
 Username: <b><%= @user.username%></b><br/>
 Email: <b><%= @user.email%></b>
<br><br/>
 This user can now login to the application.
<br><br/>
Thanks,
<br><br/>
ProfitBooks Support.
<hr>
Sent using <a href= "https://www.profitbooks.net" target = "_blank">ProfitBooks.net</a><br/>
<a href= "https://www.profitbooks.net/home/pricing" target = "_blank">Create</a> your free account today and start managing office finances in a smarter way.