<p>
Hi <b><%= @invitation_detail.name %></b>,<br />
You are invited by <b><%= @company.name %></b> to join as <b>Auditor</b> via <a href='https://www.profitbooks.net/'>Profitbooks</a><br />

After accepting the request, you will be able to review company accounts and prepare reports.<br>
</p>
Please <a href="https://www.profitbookshq.com/auditor_login/proceed_request?token=<%= @invitation_detail.token %>"> click here</a> to accept the request. <br /> 

