<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>
			Hi <b>Team</b>,this customer request for Bookkeeping & Legal Services<br/>
			   Please contact this customer</a>.<br/>

               <b>Customer Details:</b><br/>
			   <b>Name: <%= @user.full_name %></b><br/>
			   <b>Email: <%=@user.email %></b><br/>
			   <b>Company Name: <%=@user.company_name %></b><br/>
			   <b>Mobile No :<%=@company.phone %></b></br>
		
				
		</p>	
	</body>
</html>
