Hello <b><%= @user.username %></b>,

  
<br/><br/>
  We noticed that it's been a month since you have logged in to <a href="https://www.profitbooks.net"><b>ProfitBooks</b></a>.
<br/> 
<br/>
   
Please contact us in case you need any assistance.
<br/><br/>
Thanks & Regards
<br/>

The ProfiBooks Team.
<hr>
Sent using <a href= "https://www.profitbooks.net" target = "_blank">ProfitBooks.net</a><br/>
<a href= "https://www.profitbooks.net/home/pricing" target = "_blank">Create</a> your free account today and start managing office finances in a smarter way.
