

Hello <b><%= @user.first_name %></b>,<br/>
         
<br/>
<br/>
Your payroll for your company - <b><%= @company.name %></b>  has been successfully processed.<br/>
<br/>

In case of any questions, you can contact us at <a href="mailto:support@profitbooks.net"><b>support@profitbooks.net</b></a> 
<br/><br/>
Thanks & regards<br/>

<b>The ProfitBooks Team.</b>
<hr>
Sent using <a href= "https://www.profitbooks.net" target = "_blank">ProfitBooks.net</a><br/>
<a href= "https://www.profitbooks.net/home/pricing" target = "_blank">Create</a> your free account today and start managing office finances in a smarter way.
