Hello <b><%= @user.full_name%></b>
<br>
<br/>


 Your ProfitBooks account has been activated. Now, you can login with Username: <%= @user.username%>. </b>
<br><br/>
 Please contact your administrator in case you do not remember the password.
<br><br/>
Thanks,
<br><br/>
ProfitBooks Support.
<hr>
Sent using <a href= "https://www.profitbooks.net" target = "_blank">ProfitBooks.net</a><br/>
<a href= "https://www.profitbooks.net/home/pricing" target = "_blank">Create</a> your free account today and start managing office finances in a smarter way.