<%= simple_format(@text) %>


Thanks & Regards,<br>
<%= @mail_sender%>,    
<div><p style="color:rgb(136,136,136);font-family:arial,sans-serif;font-size:13px;margin-bottom:0.0001pt">
<font color="#000000"><b>ProfitBooks Solutions Pvt. Ltd.</b></font>
</p><p style="color:rgb(136,136,136);font-family:arial,sans-serif;font-size:13px;margin-bottom:0.0001pt"><b style="font-size:15px;color:rgb(106,168,79);font-family:Calibri,sans-serif">Future of Accounting in Now <a href="http://www.profitbooks.net/" target="_blank">HERE</a>.&nbsp;</b></p>
</div>
<div><br></div>
<div><a href="http://www.profitbooks.net/" target="_blank"><img src="http://gallery.mailchimp.com/5227907b4a4a05cfaddef0749/images/ProfitBooks_new_Logo.png" height="40" width="200"></a><br>
</div>
<div><br></div>
<div>Connect us on <a href="https://www.facebook.com/profitbooks" target="_blank">FaceBook</a>&nbsp;, <a href="https://twitter.com/profitbookslive" target="_blank">Twitter</a>&nbsp;</div>
<div>Visit ProfitBooks <a href="http://www.youtube.com/user/ProfitBooks" target="_blank">YouTube Channel</a>
</div>