Hi, <%= @user.first_name %><br/>
	A task has been assigned to you.<br/><br/>
	Task description is :<%= @task.description %> <br/>
	Due date is :<%= @task.due_date %><br/><br/>

  Thanks & regards,<br/>
  Admin<br/>
  <%= @user.company_name %> 
  <hr>
Sent using <a href= "https://www.profitbooks.net" target = "_blank">ProfitBooks.net</a><br/>
<a href= "https://www.profitbooks.net/home/pricing" target = "_blank">Create</a> your free account today and start managing office finances in a smarter way.
