Hello,
<br/>
<br/>
    Currently i am using <%= @plan.display_name %> plan and
  i want to upgrade it to <%= @requested_plan %> plan.
<br/><br/>
Thanks,
<h4><%= @user.full_name %></h4>
<h4><%= @company.name %></h4>
