

Hello <b><%= @user.first_name %></b>,
<br/>
<br/>
Congratulations !! <%= @user.company.users.first.first_name %> has created employee login for you on <a href="https://www.profitbookshq.com"><b>ProfitBooks</b></a>.<br/> 
<br/>
<b>Information about your account</b><br/>
   -----------------------------------------------<br/> 
  Username : <%= @user.username%><br />
  Password : <%= @random_str %><br />
  <a href="https://www.profitbookshq.com/login/index"><b>Click here to login</b></a>
<br/><br/>

<b>Getting Help</b><br/>
   -----------------------------------------------<br/>
You can write to  <a href="mailto:support@profitbooks.net"><b>support@profitbooks.net</b></a> for any issue related to the application. Also let us know if you want to see a particular feature in the application.
<br/><br/>
<b>ProfitBooks Connect</b><br/>
   -----------------------------------------------<br/>
To keep yourself updated with latest news and tips, like our Facebook page:<a href=" facebook.com/profitbooks">facebook.com/Profitbooks</a> or follow us on Twitter:<a href ="http://twitter.com/profitbookslive" >Twitter.com/profitbookslive</a>  
<br/><br/>
Thank you for using ProfiBooks. We look forward to a long relationship.
<br/><br/>

The ProfitBooks Team.
<hr>
Sent using <a href= "https://www.profitbooks.net" target = "_blank">ProfitBooks.net</a><br/>
<a href= "https://www.profitbooks.net/home/pricing" target = "_blank">Create</a> your free account today and start managing office finances in a smarter way.
