

Hello <b><%= @user.username%></b>,
<br/>
<br/>
Thank you for signing up with  <a href="https://www.profitbooks.net" ><b>ProfitBooks</b></a>.
<br/><br/>
You can login with Username: <b><%= @user.username %></b>.<br/> Your company name is <b><%= @user.company_name %></b><br/>
In case you don't remember your password, use following link to recover it:
<a href="https://profitbookstest.profitnext.com/login/forgot_pass" >https://profitbookstest.profitnext.com/login/forgot_pass</a>
<br/><br/>
<br/>

<b>Getting Help</b>
You can write to  <a href="mailto:support@profitbooks.net"><b>support@profitbooks.net</b></a> for any issue related to the application. Also let us know if you want to see a perticular feature in the application.
<br></br>
<br>
<b>More ProfitBooks</b>
To keep yourself updated with latest news and tips, like our Facebook page:<a href=" facebook.com/profitbooks">facebook.com/Profitbooks</a> or follow us on Twitter:<a href ="http://twitter.com/profitbookslive" >Twitter:@profitbookslive</a>  
</br></br>
</br>
Thank you for using ProfiBooks. We look forward to a long relationship.
</br></br>
</br>
The ProfiBooks Team.
<hr>
Sent using <a href= "https://www.profitbooks.net" target = "_blank">ProfitBooks.net</a><br/>
<a href= "https://www.profitbooks.net/home/pricing" target = "_blank">Create</a> your free account today and start managing office finances in a smarter way.
