Hello <b><%= @name %></b>,
<br/>
<br/>
  Thanks for registration for <a href= "https://www.profitbooks.net" target = "_blank">ProfitBooks.net</a> webinar. Our support team will contact <br/>you soon for our next webinar on your given contact number 
(<%= @phone %>).  
<br/>
<br/>

ProfitBooks Team.
<hr>
Sent using <a href= "https://www.profitbooks.net" target = "_blank">ProfitBooks.net</a><br/>
<a href= "https://www.profitbooks.net/home/pricing" target = "_blank">Create</a> your free account today and start managing office finances in a smarter way.

   
