<div class='table-responsive row'>
  <table class="table table-striped m-b-none text-small" id="stock-wastage" data-source="<%= stock_wastage_vouchers_path(:format=>'json')%>">
    <thead>
     <%= render "stock_wastage_vouchers/header"%>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <%= render "stock_wastage_vouchers/footer" %>
    </tfoot>
  </table>
</div>