<tr  valign="top" >
  <td valign="top"><%= stock_wastage_line_item_details.product.name  %> </td>
  <td><%= stock_wastage_line_item_details.reason %></td>
  <td><%= stock_wastage_line_item_details.quantity %> <%= stock_wastage_line_item_details.product.unit_of_measure %></td>
</tr>