<!-- Page title -->
<div id="pagetitle">
   <div class="wrapper">
      <h1>Income &rarr; <span>Receive Cash</span></h1>
      <!-- Quick search box -->
      <form action="" method="get">
          <input class="" type="text" id="q" name="q" />
      </form>
   </div>
</div>
<!-- End of Page title -->

<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
    
      <!-- Left column/section -->
        <section class="column width6 first">
            <%= render 'form' %>
        </section>
        <!-- End of Left column/section -->
  
      <!-- Right column/section -->
        <aside class="column width2">
           <p ><a href="/receive_cashes" class="btn btn-special btn-green"><img SRC="images/add.png" class="icon" alt=""/>  View Received Cash</a></p>
           <div id="rightmenu">
                <dl class="first">
                     <dt><img width="16" height="16" alt="" SRC="/images/help.png"></dt>
                     <dd><a href="#">Help</a></dd>
                     <dd class="last">If you are a new user, you should read "Getting started"</dd>
                </dl>
           </div>
        </aside>
       <!-- End of Right column/section -->
    </div>
</div>
<!-- End of Page content -->
<!--<%= link_to 'Back', debitnotes_path %>-->