          <div class="table-responsive row">
            <table id="users_last_months" class="table table-striped m-b-none text-small" data-source="<%= admin_users_url(:format => 'json',:tab_ref=> "users_last_month") %>">
              <thead>
                <%= render :partial => "admin/users/users_header" %>
              </thead>
              <tbody>
              </tbody>
            </table>
            </div>
          