<tr id="exp_row_link" valign="top">
  <td valign="top" colspan="6">
	<%= link_to '+ Add new row', {:action => 'add_expense_row', :index => index}, :class => "btn btn-new-row" , :remote => true, :id =>"exp_row_link" %>
  </td>
</tr>
