<div class="table-responsive row">
  <table class="table table-striped b-t text-small" id="products-table" data-source="<%= products_url(:format => 'json') %>">
    <thead>
      <tr>
        <th width="10%">Item Name</th>
        <th width="15%">Item Code</th>
        <th width="10%">Type</th>
        <th width="10%">Quantity</th>
        <th width="15%">Unit of Measure</th>
        <th width='15%'>Sales Price (In <%= @company.currency_code%>)</th>
        <th width="10%">Category</th>
        <th width="15%"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
     <%= render "footer" %>
    </tfoot>
  </table>
</div>
