<tr class='link_row<%= index %>'>
  <td colspan='5'><a class="btn btn-new-row" data-remote="true" href="/warehouses/add_batch_row?index=<%= index.to_i + 1 %>&warehouse_id=<%= params[:warehouse_id] %>">+ Add time row</a></td>
</tr>