
<span class = "variable_item"> 
<%= Payhead.find(variable_payhead_detail.payhead_id).payhead_name %>
</span>
  :
<span class = "variable_item_amount">
  <%= format_currency(variable_payhead_detail.amount) %>
</span>