<div class="table-responsive row">
  <table class="table table-striped b-t text-small" id="cancelled_order" data-source="<%= sales_orders_url(:format => 'json', :cancelled=> 5) %>">
    <thead>
      <%= render "header"%>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
     <%= render "footer" %>
    </tfoot>
  </table>
</div>