<div class="table-responsive row">
  <table class="table table-striped b-t text-small" id="draft_order" data-source="<%= sales_orders_url(:format => 'json', :draft=> 4) %>">
    <thead>
      <tr>
        <th>Voucher Number</th>
        <th>Date</th>
        <th>Balance </th>
        <th>Status</th>
        <th>Billing Status</th>
        <th align="center">Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr style="visibility:hidden">
        <th>Voucher Number</th>
        <th>Date</th>
        <th>Balance </th>
        <th>Status</th>
        <th>Billing Status</th>
        <th align="center">Actions</th>
      </tr>
    </tfoot>
  </table>
</div>