<tr valign="top">
  <td class="text-right" colspan="<%= sales_order_line_count %>" style="background:none;"><%= shipping_line_item_details.account.name %></td>
  <td class="text-right" style="background:none;"><%= number_with_precision shipping_line_item_details.amount, :precision=>2 %></td>
</tr> 
