 <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
				<h4>The Sales Order, sometimes abbreviated as SO, is an order issued by a business to a customer. A sales order may be for products and/or services.<br><br></h4>
		 
		<!-- Sales Order Flow -->
        <div class="timeline">
          <article class="timeline-item active">
              <div class="timeline-caption">
                <div class="panel bg bg-light">
                  <h4>How it works <br> </h4>
                </div>
              </div>
          </article>
          <article class="timeline-item">
              <div class="timeline-caption">
                <div class="panel arrow arrow-left">
                  <span class="timeline-icon"><i class="icon-plus time-icon bg-primary"></i></span>
                  <span class="timeline-date">New Sales Order</span>
                  <h5>
                    Add items, mention quantity, discount, prices and other details. Inventory is not affected at this time.
                  </h5>            
                </div>
              </div>
          </article>
          <article class="timeline-item alt">
              <div class="timeline-caption">                
                <div class="panel arrow arrow-right">
                  <span class="timeline-icon"><i class="icon-truck time-icon bg-success"></i></span>
                  <span class="timeline-date">Delivery of Products/Services</span>
                  <h5>Create delivery challans from the sales order when products/service are delivered. Its possible to deliver partial or full quantity.
                  </h5>
                </div>
              </div>
          </article>          
          <article class="timeline-item">
              <div class="timeline-caption">                
                <div class="panel arrow arrow-left">
                  <span class="timeline-icon"><i class="icon-file-text time-icon"></i></span>
                  <span class="timeline-date">Create Invoice</span>
                  <h5>You can create invoices from the delivery challans for the delivered items and track them from the invoices screen.
				  </h5>
                </div>
              </div>
          </article>
          <div class="timeline-footer"><a href="#"><i class="icon-check time-icon inline-block bg-default"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Add receipts!
		  </div>
        </div>
        <!-- SO Flow ends --> 
		  </div>
		  
		<div class="col-sm-6">
		<!-- Place for video -->
        </div>		
	    </div>