<div class="form-group gradeU odd">
<div class="col-lg-2 text-right"><label class="control-label">Location</label></div>
<div class="col-lg-3"><%= text_field_tag 'cash[location]','',:size => 30, :class=>"bg-focus form-control" %></div>
</div>
