<%= f.fields_for :accountable do |a| %>
  <div class="form-group">
    <div class="col-lg-4">
      <label class="control-label">Location</label><br/>
      <div class="input-group">
        <%= a.text_field :location , :class=>"form-control" %>
      </div>
    </div>
  </div>
<% end %>

