                <div class="form-group">
                  <div class="col-lg-5">
                    <label for="location" class="col-lg-5">Location</label>
                    <div class="col-lg-5"><%=@account.accountable.location%></div>
                  </div>