                <div class="form-group">
                  <div class="col-lg-5">
                    <label for="tax" class="col-lg-5">Tax type</label>
                    <div class="col-lg-5"><%= @account.accountable.tax %></div>
                  </div>
                  <div class="col-lg-1"></div>
                  <div class="col-lg-5">
                    <label for="tax_rate" class="col-lg-5">Tax rate</label>
                    <div class="col-lg-5"><%= @account.accountable.tax_rate %></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-5">
                    <label labelfor="inventoriable" class="col-lg-5">Auto-calculate tax ?</label>
                    <div class="col-lg-5">
                      <div class="btn-group m-t-n-mini m-r-n-mini" data-toggle="button">
                      <% if @account.accountable.auto_calculate_tax? %>
                        <label class="btn btn-sm btn-white btn-on active">Yes</label>
                        <label class="btn btn-sm btn-white">No</label>
                      <% else %>
                        <label class="btn btn-sm btn-white">Yes</label>
                        <label class="btn btn-sm btn-white btn-on active">No</label>
                      <% end %>  
                      </div>
                    </div>
                  </div>
                </div>