  <tr class="gradeU even">
	  <td><label>Enable inventory for this account</label></td>
	  <td>	
      <%=radio_button_tag 'sales[inventoriable]', '1',true,{ :tabindex=>'4'}  %>Yes &nbsp;
     	<%=radio_button_tag 'sales[inventoriable]', '0', false,{ :tabindex=>'5'} %> No
    </td>
  </tr>

