<tr>
	<td><label>Inventory enabled</label></td>
	<td><%= inventoriable%></td>
</tr>
<tr>
	<td><label>Unit cost</label></td>
	<td><%= @account.accountable.unit_cost%></td>
</tr>
<tr>
	<td><label>Description</label></td>
	<td><%= @account.accountable.description %></td>
</tr>